.account-profile {
  margin: 20px 0 100px 0;
}

.account-head {
  @include col();
  @include span(30, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px 20px;
  position: relative;
  z-index: 11;

  height: 100px;

  background-color: #ffffff;
  @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));

  h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    color: #434b54;
    margin:0;
  }

  span {
    font-size: 16px;
    line-height: 1.38;
    color: #8c9196;
  }
}

.account-body {
  @include col();
  @include span(30, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  background-color: white;

  @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
}

.account-nav {
  @include col();
  @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  margin-right: 0;

  ul.main-nav {
    list-style: none;
    padding: 0;
    margin: 0 ;
    width: 100%;

    .parent-nav {
      height: auto;
      display: flex;
      flex-direction: column;
      border: 0;
      align-items: flex-start;
      padding-left: 0;
      outline: 0;

      .head {
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-left: 4px solid #dde3e8;
        border-top: 1px solid #f0f3f6;
        padding-left: 20px;
        border-right: 1px solid #f0f3f6;
        outline: 0;
        cursor: pointer;


        &.ui-accordion-header-active  {
          border-left: 4px solid #434b54;
        }

        i {
          margin-right: 10px;
        }

      }
    }

    >li {
      height: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-left: 20px;
      border-left: 4px solid #dde3e8;
      border-top: 1px solid #f0f3f6;
      border-right: 1px solid #f0f3f6;

      width: 196px;

      font-size: 16px;
      font-weight: 500;
      line-height: 1.38;
      color: #434b54;

      &.active {
        border-left: 4px solid #ff9f69;

        a {
          color: #ff9f69;
        }
        .icon-ico-navi-right {
          color: #ff9f69;
        }
      }

      a {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.38;
        color: #434b54;
        position: relative;

        .icon-ico-navi-right {
          position: absolute;
          right: 10px;
          top: 3px;
        }
      }

      .child-nav {
        padding: 0;
        width: 100%;

        >li {
          height: 48px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          padding-left: 20px;
          border-left: 4px solid #dde3e8;
          border-top: 1px solid #f0f3f6;
          border-right: 1px solid #f0f3f6;

          width: 100%;

          &.active {
            border-left: 4px solid #ff9f69;
            border-right: 0px;


            a {
              color: #ff9f69;
            }

            .icon-ico-navi-right {
              color: #ff9f69;
            }
          }

          a {
            width: 100%;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.57;
            margin-left: 20px;
            color: #434b54;
            position: relative;

            .icon-ico-navi-right {
              position: absolute;
              right: 10px;
              top: 3px;
            }
          }
        }
      }
      

    }
  }
}

.account-content,
.corporate-content{
  @include col();
  @include span(24, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  width: 960px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;

  @include box-shadow-args(inset 1px 0 0 0 rgba(0, 0, 0, 0.04));

  .head {
    padding: 25px 20px;
    h5 {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.22;
      color: #434b54;
      margin: 0;
    }

    span {
      font-size: 14px;
      line-height: 1.57;
      color: #8c9196;
    }
  }

  .body {
    min-height: 94px;
    padding: 20px;
  }

  .bottom {
    height: 108px;
    background-color: #fafafc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;


  }

  .update-pass {
    height: 48px;
    background-color: #ffffff;
    @include box-shadow-args(0 3px 3px 0 rgba(154, 154, 154, 0.32));
    border: solid 1px #fff8f3;
    display: inline-flex;
    align-items: center;
    padding: 0 40px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #f98e4e;
  }

  .update-button {
    height: 48px;
    background-color: #ff9f69;
    @include box-shadow-args(0 3px 3px 0 rgba(255, 159, 105, 0.25));
    display: inline-flex;
    align-items: center;
    padding: 0 60px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }

  .cancel-button {
    height: 48px;
    background-color: transparent;
    display: inline-flex;
    border: solid 1px rgba(206, 211, 219, 0.31);
    align-items: center;
    padding: 0 60px;
    font-weight: 400;
    text-align: center;
    color: #434b54;
    margin-right: 20px;
  }

  .disabled {
    opacity: 0.4;
  }
}

.account-content,
.modal-input-content,
.input-section{
  //INPUT STYLING
  label {
    font-size: 14px;
    font-weight: 600;
    color: #82858a;
    display: block;
    margin-bottom: 6px;
  }
  input[type="text"], input[type="password"], select, .nice-select, .adressTextArea {
    height: 54px;
    background-color: #fbfbfa;
    border: solid 1px #f0f3f6;
    width: calc(100% - 4px);
    color: #626971;
    font-size:16px;
  }
  input[type="text"], input[type="password"] {
    padding: 0 16px 0 12px;
    width: calc(100% - 32px);
  }
  input:read-only {
    background-color: #f0f3f8;
    border: solid 1px #f0f3f6;
    color: #4c535c;
  }
  input:focus, .open, textarea:focus {
    border: solid 1px #ff9f69;
    outline: none;
    color: #4c535c;
  }

  .nice-select {
    height: 58px;
    border-radius: 0;
    .list {
      border-radius: 0;
      margin-top: 2px;
      width: 100%;
      max-height: 292px;
      overflow-y: auto;
      padding: 0 12.4px 0 9px;
      .option {
        color: #868a8f;
        padding: 10px 0 12px 0;
        font-size: 16px;
        line-height: 1.38;
        box-shadow: inset 0 -1px 0 0 #f0f3f6;
        min-height: 16px;
        &:last-child {
          box-shadow: none;
        }
        &:hover, &.focus {
          background: white;
          font-weight: normal;
        }
      }
      .option.selected {
        color: #f57353;
        background: white;
      }
    }
  }
  .current {
    line-height: 58px;
  }
}

.personal-details {


  .body {
    padding-right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .personal-input {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }


  .siparisOnayTutar {
    width: 280px;
  }

  .isTelNo {
    width: 200px;
  }

  .isTelNoDahili {
    width: 60px;
  }
}

.password-details {

  .head {
    display: flex;
    flex-direction: row;

    .text {
      margin-top: 4px;
    }
  }

  .head-button {
    a{
      width: 42px;
      height: 42px;
      border: solid 1px rgba(206, 211, 219, 0.31);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      .icon-ico-navi-left {
        font-size: 18px;
        color: #434b54;
      }
    }
  }

  .body {
    padding-right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .personal-input {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .bottom {
    justify-content: flex-end;
  }
}

.company-details {
  .body {
    padding-right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .personal-input {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .sirketAdres {
    width: 620px;
  }

  .sirketVergiDairesi {
    width: 280px;
  }

  .bottom {
    align-items: center;
    justify-content: flex-end;
  }

  .sirketCalisan,.sirketSektor {
    width: 280px;
  }


}

.company-details-all {
  .body {
    padding-right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .personal-input {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .sirketAdres {
    width: 920px;
  }

  .sirketVergiDairesi {
    width: 280px;
  }

  .bottom {
    height: inherit;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .head {
      padding: 20px 0;
      width: 100%;
    }

    .limit-list {
      display: flex;
      flex-direction: row;

    }
  }

  .hareket-accordion {
    height: 54px;
    background-color: #ffffff;
    @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
    width: 100%;
    margin-bottom: 30px;

    .text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.38;
      color: #434b54;
      margin: 0 20px;
    }
  }

  .update-button-container {
    width: 100%;
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

input.numbered-input {
  font-size: 26px !important;
  text-align: center;
  color: #4c535c;
}


#siparisOnayTutar,
#ekozerPuan {
  font-size: 26px;
  text-align: center;
  color: #4c535c;
}
.fa-minus {
  display: none;
}

.ui-accordion-header-active {
  .fa-plus {
    display: none;
  }
  .fa-minus {
    display: inline-block;
  }
}

.kisiselBilgiChecbox {
  .title {
    font-size: 14px;
    font-weight: 600;
    color: #82858a;
    display: block;
    margin-bottom: 8px;
  }

  label {
    font-size: 14px;
    font-weight: 400;
  }

  .kurumsalKampanyaCheckboxDetails {
    margin-left: 24px;


  }
}

.eskiSifre, .yeniSifre {
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.eskiSifrenizSifreIcon, .yeniSifrenizSifreIcon {
  position: absolute;
  top: 40px;
  right: 17px;
  width: 24px;
  .eye {
    top:0;
    right: 0;
  }
}

#sifreGuncelleModal {
  .modal-content {

    h5 {
      font-weight: 400;
    }

  }

  p {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .buttons {
    width: 376px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
    >a {
      margin-left: 20px;
    }

    a.orange {
      margin-top: 0;
    }
  }

  .modal-dialog {
    width: 420px;
    height: inherit;
    @include box-shadow-args(0 6px 8px 0 rgba(0, 0, 0, 0.04));
  }

  .modal-content {
    .yeniSifre {
      width: 380px;
    }
  }
}

.account-support .firstBody .icons .footer-icon .icon-overlay {
  top: 0 !important;
}

.account-support {
  .firstBody {
    margin: 0 20px;
    background-color: #fbfcfc;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 90px;

    p {
      text-align: center;
      font-size: 16px;
      line-height: 1.62;
      color: #6f7276;
      margin: 30px 0 0 0;

    }

    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;

      .footer-icon {
        @include col();
        @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        .icon-overlay {
          position: absolute;
          width: 50px;
          height: 90px;
          background-color: rgba(255, 230, 210, 0.49);
          left: 25px;
          top: 25px;
        }

        img {
          position: relative;
          z-index: 11;
        }

        h4 {
          color: #f98e4e;
          margin: 16px 0 5px 20px;
        }

        h3 {
          margin-top: 5px;
          margin-left: 20px;

          a {
            color: #6f7276;
            font-weight: 300;
            text-decoration: none;
          }
        }
      }

    }
  }

  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .supportTel {
    width: 280px;
  }

  .bottom {
    justify-content: flex-end;
  }

  .supportKonu {
    width: 440px;
    margin-right: 14px;
  }

  .supportMesaj {
    width: 460px;

    textarea {
      resize: none;
      height: 150px;

    }
  }
}

.table-list5 {
  display: flex;
  flex-direction: row;
  align-items: center;

  >div {
    span {
      margin:0 20px;
    }
  }

  .col1 {
    width: 140px;
    justify-content: flex-start;
    @include box-shadow-args(inset 0 0 0 0 rgba(0, 0, 0, 0)!important) ;
  }
  .col2 {
    width: 500px;
    justify-content: flex-start;

  }
  .col3 {
    width: 100px;
    justify-content: center;

  }
  .col4 {
    width: 80px;
    justify-content: center;

  }
  .col5 {
    width: 100px;
    span {
      margin:0;
    }
  }
}

.fav-list {

  .body {
    padding-top: 10px;
  }

  .bottom {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @include box-shadow-args(inset 1px 0 0 0 rgba(0, 0, 0, 0.04));


    a {
      margin-right: 20px;
      opacity: 0.75;
      font-size: 14px;
      line-height: 1.71;
      color: #8c9196;
      border-bottom: 1px solid #8c9196;
      padding-bottom: 1px;
    }
  }

  .fav-list-nav {
    background-color: #fcfcfc;
    @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));

    >div {
      display: flex;
      height: 50px;
      align-items: center;

      font-size: 14px;
      font-weight: 500;
      line-height: 1.57;
      color: #82858a;

      @include box-shadow-args(inset 1px 0 0 0 rgba(0, 0, 0, 0.04));
    }

    .col5 {
      justify-content: center;
      display: flex;
      flex-direction: column;

      span:first-child {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        text-align: center;
        color: #6f7277;
      }

      span:last-child {
        font-size: 12px;
        line-height: 1.83;
        text-align: center;
        color: #b6bbc0;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;

    li {
      height: 79px;
      position: relative;
      cursor: pointer;

      &:nth-of-type(odd) {
        background-color: #f9f9f8;
        @include box-shadow-args(inset 0 -1px 0 0 #f3f4f6, inset 0 1px 0 0 #f3f4f6);
      }

      .removeFromList {
        position: absolute;
        right: -8px;
        top: 26px;
        display: none;

        img {
          height: 22px;
          width: 22px;
        }
      }

      &:hover {
        z-index: 12;
        .removeFromList {
          display: inline-block;
        }
        @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
      }

      div {
        display: flex;
        align-items: center;
        height: 79px;
      }

      .col1 {
        font-size: 16px;
        line-height: 1.38;
        color: #73787e;
      }

      .col2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.57;
        color: #434b54;

        img {
          width: 60px;
          height: 60px;
          margin-left: 20px;
          border: solid 1px #f3f4f6;
        }
      }

      .col3,
      .col4,
      .col5{
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #98a6b1;
        span {
          margin:0;
        }
      }
    }
  }
}

.fav-list-custom {

  .empty-fav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;

    img {
      margin-top: 30px;
    }

    h5 {
      margin: 20px 0 5px 0;
    }

    p {
      font-size: 16px;
      line-height: 1.38;
      text-align: center;
      color: #8c9196;
      margin: 25px 0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 60px;
      border: solid 1px #fff8f3;
      height: 48px;
      background-color: #ffffff;
      margin-bottom: 70px;

      @include box-shadow-args(0 3px 3px 0 rgba(154, 154, 154, 0.32));

      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #f98e4e;
    }
  }

  .head {
    h5 {
      margin: 0;
      position: relative;
    }

    .edit-valid {display: none;}

    .input-icon {
      position: absolute;
      left: 120px;
      top: -4px;

      img {
        height: 22px;
        width: 22px;
      }
    }

    input {
      width: 120px;
      height: inherit;
      border: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
  }
}