.subelervekullanicilar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  .subelervekullanicilar-header-icon {
    width: 42px;
    height: 42px;
    border: solid 1px rgba(206,211,219,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
}
.kullanici-davet-et-form {
  padding: 20px;
  .row {
    margin-bottom: 20px;
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color: #82858a;
    display: block;
    margin-bottom: 6px;
  }
  input[type="text"], input[type="email"], select, .nice-select, .adressTextArea {
    height: 54px;
    background-color: #fbfbfa;
    border: solid 1px #f0f3f6;
    width: calc(100% - 2px);
    color: #626971;
    font-size:16px;
  }
  input[type="text"], input[type="email"] {
    padding: 0 20px;
    width: calc(100% - 42px);
  }
  input:read-only {
    background-color: #f0f3f8;
    border: solid 1px #f0f3f6;
    color: #4c535c;
  }
  input:focus, .open, textarea:focus {
    border: solid 1px #ff9f69;
    outline: none;
    color: #4c535c;
  }
  .kullanici-davet-et-adi-soyadi, .kullanici-davet-et-checkbox {
    @include col();
    @include span(11.5, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .kullanici-davet-et-eposta, .kullanici-davet-et-siparis-onay-tutari {
    @include col();
    @include span(12, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include beta();
  }
  .kullanici-davet-et-kullanici-adi-soyadi, .kullanici-davet-et-kullanici-eposta, .kullanici-davet-et-kullanici-checkbox, .kullanici-davet-et-kullanici-siparis-onay-tutari {
    @include col();
    @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .kullanici-davet-et-kullanici-cep-no {
    @include col();
    @include span(7.5, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include beta();
  }
  .kullanici-davet-et-siparis-onay-tutari, .kullanici-davet-et-kullanici-siparis-onay-tutari {
    position: relative;
  }
  .kullanici-davet-et-checkbox, .kullanici-davet-et-kullanici-checkbox {
    padding-top: 20px;
    label {
      font-weight: normal;
    }
  }
  .kullanici-davet-et-checkbox-2, .kullanici-davet-et-kullanici-checkbox-2 {
    padding-left: 23px;
  }
  .kullanici-davet-et-siparis-onay-tutari-info, .kullanici-davet-et-kullanici-siparis-onay-tutari-info {
    position: absolute;
    top: 40px;
    right: 17px;
  }
}

.sube-secme-list {
  .sube-accordion {

    margin: 10px 20px;
    width: 920px;

    >div {
      margin-bottom: 10px;
      @include box-shadow-args(0 2px 9px 0 rgba(0, 0, 0, 0.08));
    }

    .sube-accordion-head {
      height: 68px;
      background-color: #ffffff;
      border: solid 1px #f3f5f8;
      box-sizing: border-box;
      outline: 0;
      text-align: left;

    }

    .sube-accordion-content {
      height: 230px;
      background-color: #fbfcfc;
    }
  }
}