.basket-container {
  margin-top: 20px;
  margin-bottom: 120px;

  .basket-left {
    @include col;
    @include span(20, $gutter_pc, $gutter_px, $padding, $max_columns);

    background-color: white;
    padding: 20px;
    @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
  }

  .basket-right {
    @include col;
    @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include beta();
    @include clearfix();
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 20px;


    .basket-summary {
      background-color: white;
      @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
      margin-bottom: 40px;

      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;

        a.satin-al {
          height: 48px;
          width: 340px;
          background-color: #ff9f69;
          @include box-shadow-args(0 3px 3px 0 rgba(255, 159, 105, 0.25));
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          color: #ffffff;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-top: 40px;
        }
      }
    }
  }

  .costs {
    padding: 10px 20px;

    >div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .ara-toplam {
      margin-bottom: 10px;

      span:first-child {
        font-size: 16px;
        line-height: 1.38;
        color: #8c9196;
      }

      span:last-child {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        color: #434b54;
      }
    }

    .kdv {
      margin-bottom: 10px;
      >span:first-child {
        font-size: 16px;
        line-height: 1.38;
        color: #8c9196;
        display: flex;
        flex-direction: row;

        img {
          margin-left: 6px;
        }

        .custom-toolt {
          top: -64px;
          left: -46px;
        }
      }

      span:last-child {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        color: #434b54;
      }
    }
  }

  .ozel-kampanya {
    height: 54px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .ui-accordion-header-icon {
      display: none;
    }

    div.head {
      z-index: 12;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      outline: 0;
      padding: 0 20px;

      @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));

      span.text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.38;
        color: #434b54;
      }

      span.icon-ico-arrow-down {
        color: #434b54;
        font-size: 12px;

        @include transition(.5s all);
      }

      &.ui-accordion-header-active {
        span.text {
          color: #fa9458;
        }

        span.icon-ico-arrow-down {
          color: #fa9458;
          @include transform(rotate(180deg));
        }
      }
    }

    div.content {
      z-index: 11;
      width: 100%;
      position: absolute;
      top: 54px;
      left: 0;
      background-color: rgb(255, 255, 255);
      @include box-shadow-args(0 6px 6px 0 rgba(218, 218, 218, 0.64));

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 204px;
        padding-left: 10px;
        overflow-y: scroll;

        li {
          border-bottom: 1px solid #f0f3f6;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;

          .first-col {
            width: 69px;
            height: 67px;
            background-color: #fbfcfc;
            display: flex;
            align-items: center;
            justify-content: center;

            .fa-circle-thin {
              position: relative;
              font-size: 24px;
              color: #8c9196;
            }

            .fa-circle {
              position: absolute;
              top: 5px;
              left: 4px;
              font-size: 14px;
              display: none;
            }
          }

          &:hover {
            .fa-circle-thin {
              color: #fa9458;
            }

            .fa-circle {
              display: block;
              color: #fa9458;
            }
          }

          .second-col {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            align-items: flex-start;

            >span:first-child {
              font-size: 14px;
              font-weight: 500;
              line-height: 1.57;
              color: #434b54;
            }

            >span:last-child {
              font-size: 12px;
              line-height: 1.83;
              color: #8c9196;
            }
          }
        }
      }

      .bottom {
        height: 46px;
        background-color: #fafafc;
        @include box-shadow-args(0 6px 6px 0 rgba(218, 218, 218, 0.64));

        a {
          font-size: 16px;
          line-height: 1.5;
          color: #8c9196;
          cursor: pointer;
          padding-bottom: 1px;
          border-bottom: 1px solid #8c9196;
        }
      }
    }


  }

  .kargo {
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span:first-child {
      font-size: 16px;
      line-height: 1.38;
      color: #8c9196;
    }

    span:last-child {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      text-align: right;
      color: #434b54;

      &.kargo-hesaplanacak {
        font-size: 14px;
        line-height: 1.57;
        text-align: right;
        color: #b6bbc0;
      }
    }
  }

  .genel-toplam {
    height: 78px;
    background-color: #fbfcfc;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div:first-child {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      >span:first-child {
        font-size: 16px;
        line-height: 1.38;
        color: #8c9196;
      }

      >span:last-child {
        font-size: 14px;
        line-height: 1.57;
        text-align: right;
        color: #b6bbc0;
      }
    }

    div:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      span.old-price {
        del {
          font-size: 14px;
          line-height: 1.57;
          text-align: right;
          color: #434b54;
        }
      }
      span.actual-price {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.25;
        text-align: right;
        color: #f98e4e;
      }
    }

  }
}

.basket-left-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .first-col {
    h1 {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      color: #434b54;
      margin: 4px 0;
    }

    div {
      span:first-child {
        line-height: 22px;
        font-size: 16px;
        color: #fd8c57;
      }

      span:last-child {
        font-size: 16px;
        line-height: 22px;
        color: #8c9196;
      }
    }
  }

  .basket-banner {
    background-color: #67cfee;
    box-shadow: 0 2px 2px 0 rgba(60, 173, 207, 0.25);
    margin-right: -30px;
    padding: 8px 12px;

    span {
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.1;
      letter-spacing: normal;
      color: #ffffff;

      &:nth-child(2) {
        color: #0c2e3b;
        font-weight: normal;
      }
    }
  }
}

.basket-warning {
  margin: 30px 0;

  .head {
    background-color: #fff4f4;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    color: #664949;
    padding: 11px 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    outline: 0;

    >div {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      img {
        margin-right: 25px;
      }
    }
  }

  .head-hide,
  .head-show {
    font-size: 14px;
    line-height: 1.71;
    color: #664949;
    font-weight: 300;
    border-bottom: 1px solid #664949;
    cursor: pointer;
  }

  .head-show {
    display: none;
  }

  .ui-accordion-header-icon {
    display: none;
  }

  .ui-accordion-header-collapsed {
    .head-hide {
      display: none;
    }

    .head-show {
      display: block;
    }
  }

  .ui-accordion-header-active {
    .head-show {
      display: none;
    }

    .head-hide {
      display: block;
    }
  }

  .ui-state-active {
    .head-show {
      display: none;
    }
  }

  ol {
    padding: 20px 60px;
    font-size: 12px;
    line-height: 1.33;
    color: #664949;
    background-color: #ffeaea;
    margin: 0;

    li {
      margin-bottom: 10px;
    }
  }
}

.basket-summary {
  .coupon-used {
    a.use {
      display: none;
    }

    .coupon-info {
      display: block;
    }
  }

  .coupon-box {
    border-bottom: 1px solid #dde3e8;
    position: relative;
    padding: 20px;

    .coupon-info {
      height: 40px;
      background-color: #ffffff;
      margin-top: 10px;
      @include box-shadow-args(0 2px 10px 0 rgba(0, 0, 0, 0.05));
      padding: 0 20px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;

      span {
        font-size: 13px;
        font-style: italic;
        line-height: 1.69;
        text-align: center;
        color: #434b54;
      }

      a {
        position: absolute;
        top: 10px;
        right: -10px;

        img {
          width: 22px;
          height: 22px;
        }
      }
    }

    label {
      font-size: 14px;
      font-weight: 600;
      color: #82858a;
      margin-bottom: 8px;
    }
    input {
      height: 48px;
      background-color: #fbfbfa;
      border: solid 1px #f0f3f6;
      width: calc(100% - 32px);
      padding: 0 16px;
      outline: 0;

      &:disabled {
        background-color: #f0f3f8;
        border: solid 1px #f0f3f6;
      }
    }

    >a {
      background-color: #ffffff;
      @include box-shadow-args(0 3px 3px 0 rgba(154, 154, 154, 0.32));
      border: solid 1px #fff8f3;
      font-size: 16px;
      font-weight: 500;
      color: #f98e4e;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 48px;
      padding: 0 16px;
      right: 16px;
      top: 38px;
    }
  }
}

.basket-left-bottom {
  height: 60px;
  background-color: #fafafc;
  padding: 20px;
  margin: 0 -20px -20px -20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a:first-child {
    position: relative;
    height: 48px;
    background-color: #ffffff;
    @include box-shadow-args(0 3px 3px 0 rgba(154, 154, 154, 0.32));
    border: solid 1px #fff8f3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #f98e4e;
    padding: 0 60px;

    span {
      color: #f98e4e;
      position: absolute;
      left:30px;
      top: 14px;
      font-size: 16px;
    }
  }

  a:last-child {
    font-size: 14px;
    line-height: 1.71;
    color: #8c9196;
    border-bottom: 1px solid #8c9196;
    padding-bottom: 1px;
  }
}

.basket-product-list {
  margin: 30px 0;

  .list-titles {
    @include clearfix();

    span {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.57;
      text-align: left;
      color: #82858a;
    }

    span:first-child {
      @include col;
      @include span(12, $gutter_pc, $gutter_px, $padding, $max_columns);
    }

    span:nth-child(2) {
      @include col;
      @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns);
    }

    span:nth-child(3) {
      @include col;
      @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns);
      text-align: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #f1f4f6;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      cursor: pointer;

      .product-delete {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 36px;
        right: -16px;
        display: none;
      }

      &:hover {
        @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
        z-index: 23;
        .product-delete {
          display: block;
        }
      }

      &:nth-of-type(odd) {
        background-color: #f9f9f8;
        border-bottom: 1px solid #f1f4f6;
        border-top: 1px solid #f1f4f6;
      }

      &:nth-of-type(even) {
        background-color: #ffffff;
      }

      >img {
        max-width: 100%;
        height: 103px;
        display: block;
      }

      >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .name-col {
        @include col;
        @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
        margin-right: 0;
        margin-left: 20px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span:first-child {
          font-size: 14px;
          font-weight: 600;
          line-height: 1.29;
          color: #434b54;
          margin-bottom: 4px;
        }

        span:last-child {
          font-size: 12px;
          line-height: 1.33;
          color: #797e84;
        }
      }

      .tag-col {
        @include col;
        @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns);
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          font-size: 14px;
          font-weight: 600;
          font-style: italic;
          text-align: center;
          color: #ffffff;
          background-color: #ff9f69;
          @include box-shadow-args(0 2px 2px 0 rgba(221, 149, 103, 0.25));
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 8px 2px 8px;
          >span {

          }
          
          .icon-credit-card {
            font-size: 16px;
            color: #B94F14;
            margin-right: 4px;
          }
        }
      }

      .qty-col {
        @include col;
        @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 0;

        .product-detail-counter {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          margin-top: 20px;

          div.product-count {
            >span.product-count-box {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              text-align: center;
              color: #4c535c;
              width: 32px;
              height: 32px;
              box-shadow: inset 0 -1px 0 0 #ced3db, inset 0 1px 0 0 #ced3db;
              background-color: white;
            }

            >span.product-count-label {
              width: 32px;
              font-size: 12px;
              text-align: center;
              color: #b9bec3;
              display: inline-block;
              margin-top: 8px;
            }
          }

          &:hover {
            >a.product-counter-minus,
            >a.product-counter-plus {
              background-color: #fff7f2;

              i {
                color: #434b54;
              }
            }
          }

          >a.product-counter-minus,
          >a.product-counter-plus {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 30px;
            height: 30px;
            background-color: #ffffff;
            border: solid 1px #ced3db;

            i {
              color: #ff9f69;
              font-size: 12px;
            }
          }
        }
      }

      .price-col {
        @include col;
        @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        span.taksit {
          font-size: 12px;
          line-height: 1.83;
          text-align: right;
          color: #949799;
        }

        span.price {
          font-size: 20px;
          font-weight: 500;
          line-height: 1.1;
          text-align: right;
          color: #434b54;
        }

        span.kdv {
          font-size: 14px;
          line-height: 14px;
          text-align: right;
          color: #b6bbc0;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

.basket-special-products {
  min-height: 20px;
  background-color: white;
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  padding: 0;
  @include box-shadow-args(0 -3px 3px 0 rgba(218, 218, 218, 0.25));

  .basket-special-accordion {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .basket-special-button {
    height: 68px;
    background-color: #ffffff;
    @include box-shadow-args(0 -3px 3px 0 rgba(218, 218, 218, 0.25));
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    margin: -68px auto 20px;
    cursor: pointer;
    outline: 0;

    &.ui-accordion-header-active {
      .icon-ico-arrow-down {
        @include transform(rotate(-0deg));
        color: #ff9f69;
      }
    }


    >span {
      display: flex;
      align-items: center;

      .text {
        margin-right: 46px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.17;
        color: #434b54;

      }

      .icon-ico-arrow-down {
        @include transform(rotate(180deg));
        @include transition(0.5s all);
        font-size: 12px;
        color: #434b54;
      }
    }
  }
  .basket-special-slider {
    height: 218px;
    background-color: white;

    .product-link {
      min-height: 160px;
      margin-bottom: 20px;

      &:hover {
        .product .product-description {
          height: inherit;
        }
      }
    }

    .product {
      @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
      margin-right: 20px;
      margin-left: 0;
      display: flex;
      flex-direction: row;

      h5 {
        font-size: 16px;
        padding: 12px 16px 0 16px;
      }

      .price {
        margin-bottom: auto;
        .old-price {
          margin-bottom: -6px;
        }
      }

      .product-image {
        max-width: 160px;
        height: 160px;
        width: 100%;
      }

      .product-slogan {
        padding-top: 2px;
        line-height: 18px;
        height: 24px;
        background-color: #ffffff;

        @include box-shadow-args(0 -2px 10px 0 rgba(0, 0, 0, 0.05));
      }

      .product-button {
        display: inline-block;
        position: absolute;
        right: 20px;
        width: auto;
        bottom: -20px;
        outline: 0;

        a {
          outline: 0;
          height: 48px;
          background-color: #ff9f69;
          @include box-shadow-args(0 3px 3px 0 rgba(255, 159, 105, 0.25));
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 36px;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          color: #ffffff;
        }
      }

      .product-description {
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        height: inherit;
        @include box-shadow-args(inset 18px 0px 20px -20px rgba(0, 0, 0, 0.25));
      }

      .product-icons {
        top:0;
        left: 118px;
        z-index: 9;
      }

      .actual-price {
        span:nth-child(2) {
          display: none;
        }
      }
    }

  }

}

.basket-suggest {
  margin-left: 20px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 10px 0;
  @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));

  .icon-box {
    position: absolute;
    left: -21px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.75);
    @include box-shadow-args(0 0 4px 0 rgba(0, 0, 0, 0.11));
    
    span {
      font-size: 24px;
      color: #f56b49;
    }
  }

  .text-box {
    display: flex;
    flex-direction: column;

    >span:first-child {
      font-size: 16px;
      color: #797e84;

      >span {
        font-size: 16px;
        color: #f57a3e;
      }
    }

    >span:last-child {
      color: #797e84;
      font-weight: 600;
      font-style: italic;
      a {
        border-bottom: 1px solid #8c9196;
        padding-bottom: 1px;
        font-weight: 300;
      }
    }
  }
}

.bottom-push {
  height: 248px;
  width: 100%;
  position: relative;
}

.basket-special-slider {
  margin-top: 10px;
  margin-bottom: 0;

  .slick-prev, .slick-next {
    z-index: 20;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);
    top: calc(50% - 16px);
  }

  .slick-prev {
    left: -58px;
  }

  .slick-next {
    right: -58px;
  }

  .slick-slide {
    opacity: 0.55;
  }

  .slick-active {
    opacity: 1;
  }
}

.ozel-kampanya.kampanya-secildi {
  display: none;
}

.secili-kampanya {
  height: 54px;
  margin-bottom: 30px;
  background-color: #f1fffa;
  border-bottom: 1px solid #dde3e8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;

  .first-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span:first-child {
      font-size: 16px;
      line-height: 1.38;
      color: #8c9196;
    }

    span:last-child {
      font-size: 12px;
      line-height: 1.83;
      color: #8c9196;
    }
  }

  .last-col {
    span {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      text-align: right;
      color: #2a8b63;
    }
  }

  .kampanya-delete {
    position: absolute;
    right: -10px;
    top: 16px;

    a img {
      width: 22px;
      height: 22px;
    }
  }
}

.basket-empty {
  @include col;
  @include span(30, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();

  background-color: #ffffff;
  @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
  padding: 24px 20px 30px 20px;

  h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    color: #434b54;
    margin: 4px 0 30px 0;
  }

  .content {
    background-color: #fbfcfc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 100px;
      width: 100px;
      margin-top: 28px;
    }

    h5 {
      margin-top: 25px;
      margin-bottom: 0;
    }

    >span {
      max-width: 740px;
      font-size: 16px;
      line-height: 1.38;
      text-align: center;
      color: #8c9196;
      margin-top: 35px
    }

    a {
      height: 48px;
      background-color: #ffffff;
      @include box-shadow-args( 0 3px 3px 0 rgba(154, 154, 154, 0.32));
      border: solid 1px #fff8f3;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      margin-bottom: 30px;
      padding: 0 60px;

      span.text {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #f98e4e;
      }
    }
  }

}

.custom-ttip-box {
  position: relative;
  cursor: pointer;

  img.question {
    height: 18px;
    width: 18px;
  }

  &:hover .custom-toolt {
    display: flex;
  }

  .custom-toolt {
    width: 180px;
    position: absolute;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    top: -100px;
    left: -28px;

    &::after {
      content: '';
      position: absolute;
      left: calc(50% - 3px);
      top: 100%;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0, 0, 0, 0.8);
      clear: both;
    }

    ul:first-child {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      margin: 9px 12px;

      li {
        font-size: 12px;
        color: white;
        font-weight: 200;
      }
    }

    ul:last-child {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: right;
      margin: 9px 12px;

      li {
        font-size: 12px;
        color: white;
        font-weight: 600;
      }
    }
  }
}