.after-search-container {
  padding-top: 50px;
}

.cateogory-listing-container {
  padding-top: 0;
  background-color: #ffffff;

  .category-right-head {
    justify-content: flex-end;
  }

  .category_slider_container {
    background-color: rgba(233, 236, 244, 0.29);
    margin-left: -20px;
    padding: 30px 0 2px 80px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.category-left {
  @include col();
  @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.category-right {
  @include col();
  @include span(24, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
}

.category-filter-block,
.regular-filter-block,
.price-filter-block,
.filters-block{
  width: 100%;
  margin-bottom: 20px;
}

.block-head {
  border: 1px solid #f1f4f6;
  padding: 15px;
  border-bottom: 0;

  span {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    color: #434b54;
  }
}

.category-right-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.result-info {
  h4 {
    margin: 0;
  }

  >span>span {
    line-height: 22px;
    font-size: 16px;

    &:first-child {
      color: #fd8c57;
    }

    &:last-child {
      color: #8c9196;
    }
  }
}

.filters-block {
  .block-head {
    padding: 9px 6px 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    a {
      font-size: 14px;
      line-height: 1.71;
      color: rgba(140, 145, 150, 0.61);
      border-bottom: 1px solid rgba(140, 145, 150, 0.61);
    }
  }

  .filter-category-title {
    font-size: 12px;
    line-height: 1.83;
    color: #8c9196;
  }

  .filter-list {
    border: 1px solid #f0f3f6;
    padding: 25px 0 35px 0;

    ul {
      li {
        border-bottom: 1px solid #f1f4f6;
        padding: 8px 0;
        margin: 0 20px;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .filter-thumb {
    height: 29px;
    padding: 0 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    @include box-shadow-args(0 2px 4px 0 rgba(0, 0, 0, 0.05));
    border: solid 1px #f0f3f6;
    position: relative;
    margin-right: 12px;

    font-size: 12px;
    font-style: italic;
    line-height: 1.83;
    text-align: center;
    color: #434b54;

    img {
      height: 18px;
      width: 18px;
      position: absolute;
      right: -9px;
      top: 5px;

    }
  }
}

.view-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listing-options {
  display: flex;
  flex-direction: row;
  align-items: center;

  >div {
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border: solid 1px #f0f3f6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      color: #434b54;
      font-size: 16px;
    }

    &.active,
    &:hover{
      cursor: pointer;

      span {
        color: #f57353;
      }
    }
  }

  .icon-ico-3-grid {
    font-size: 20px;
  }

  .icon-ico-list-item {
    font-size: 24px;
  }
}

.category-filter-list {
  border:1px solid #f0f3f6;

  ul {
    margin: 20px;
    li {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

      }
      margin-bottom: 8px;

      span {
        font-size: 14px;
        font-weight: 300;
        color: #434b54;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover,
      &.active{
        a span{
          color: #f57353;
        }
      }
    }
  }
}

.filter-show-all-bottom {
  height: 56px;
  background-color: #fafafc;
  display: flex;
  align-items: center;
  padding: 0 18px;

  a {
    font-size: 14px;
    color: #8c9196;
    border-bottom: 1px solid #8c9196;
    padding-bottom: 3px;
  }
}

.regular-filter-list {
  border:1px solid #f0f3f6;

  ul {
    margin: 20px;
    li {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

      }
      margin-bottom: 8px;

      span {
        font-size: 14px;
        font-weight: 300;
        color: #434b54;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .checkbox-outer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        >span:last-child {
          margin-left: 9px;
          line-height: 20px;

        }
      }

      .checkbox {
        display: inline-block;
        border: solid 1px #e1e1e1;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        color: white;

        .icon-ico-checkbox-check {
          display: none;
          font-size: 12px;
        }
      }

      &:hover,
      &.active{
        a span{
          color: #f57353;
        }

        .checkbox {
          background-color: #f57353;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon-ico-checkbox-check {
            display: inline-block;
            color: white;
          }
        }
      }
    }
  }
}

.category-products {
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -20px;

  .product-link {
    margin-bottom: 18px;
  }

  .product {
    margin-right: 0;
    margin-left: 20px;

    &:hover {
      z-index: 23;
    }
  }

  &.three-grid {
    .product-link{
      margin-bottom: 4px;
      min-height: 516px;
    }

    .product {
      @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
      margin-right: 0;
      margin-left: 20px;

      .product-image {
        height: 320px;
        img {
          height: 320px;
        }
      }

      .product-button {
        button {
          width: 260px;
        }
      }

      .old-price {
        del {
          font-size: 16px;
        }
      }

      .actual-price {
        span:first-child{
          font-size: 28px;
        }

        span:nth-child(2) {
          display: none;
        }
      }
    }
  }

  &.line-grid {
    .product-link {
      min-height: 140px;
      margin-bottom: 20px;

      &:hover {
        .product .product-description {
          height: inherit;
        }
      }
    }

    .product {
      @include span(24, $gutter_pc, $gutter_px, $padding, $max_columns);
      margin-right: 0;
      margin-left: 20px;
      display: flex;
      flex-direction: row;

      .product-image {
        max-width: 140px;
        height: 140px;
      }

      .product-slogan {
        line-height: 24px;
        position: absolute;
        width: 168px;
        height: 24px;
        background-color: #ffffff;
        left: 154px;
        top: 42px;

        @include box-shadow-args(0 -2px 10px 0 rgba(0, 0, 0, 0.05));
      }

      .product-button {
        display: inline-block;
        position: absolute;
        right: 20px;
        width: auto;
        bottom: 20px;
        outline: 0;

        button {
          outline: 0;
        }
      }

      .product-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        height: inherit;
        @include box-shadow-args(inset 18px 0px 20px -20px rgba(0, 0, 0, 0.25));
      }

      .product-icons {
        top:0;
        right: 20px;
        flex-direction: row;
      }

      .actual-price {
        span:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

.sorting-options {
  input[type="text"], select, .nice-select, .adressTextArea {
    height: 54px;
    background-color: #fbfbfa;
    border: solid 1px #f0f3f6;
    width: calc(100% - 2px);
    color: #626971;
    font-size:16px;
  }
  input[type="text"] {
    padding: 0 20px;
    width: calc(100% - 42px);
  }
  input:read-only {
    background-color: #f0f3f8;
    border: solid 1px #f0f3f6;
    color: #4c535c;
  }
  input:focus, .open, textarea:focus {
    border: solid 1px #ff9f69;
    outline: none;
    color: #4c535c;
  }
  .nice-select {
    height: 44px;
    width: 180px;
    margin-left: 20px;
    border-radius: 0;
    .list {
      border-radius: 0;
      margin-top: 2px;
      width: 100%;
      max-height: 292px;
      overflow-y: auto;
      padding: 0 9px;
      z-index: 25;
      @include box-shadow-args(0 2px 9px 0 rgba(0, 0, 0, 0.08));

      .option {
        color: #868a8f;
        padding: 10px 0 12px 0;
        font-size: 16px;
        line-height: 1.38;
        box-shadow: inset 0 -1px 0 0 #f0f3f6;
        min-height: auto;

        &:last-child {
          box-shadow: none;
        }
        &:hover, &.focus {
          background: white;
          font-weight: normal;
        }
      }
      .option.selected {
        color: #f57353;
        background: white;
      }
    }

    &:after {
      height: 11px;
      width: 10px;
      margin-top: -9px;
    }
  }
}

.category-pagination,
.orders-pagination {
  float: right;

  ul {
    list-style: none;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.75);
    @include box-shadow-args(0 0 4px 0 rgba(0, 0, 0, 0.11));
    
    li {
      a {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #999ea4;

        &.active {
          color: white;
          background-color: #f57353;
          @include box-shadow-args(0 3px 3px 0 rgba(255, 159, 105, 0.25));
          
          &:hover {
            color: white;
          }
        }

        &:hover {
          color: #ff9f69;
        }
      }

      &:last-child {
        a {
          background-color: rgba(246, 248, 254, 0.31);
          border-left: solid 1px rgba(206, 211, 219, 0.3);

          span {
            color: #434b54;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.price-filter-block {

  .price-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid 1px #f0f3f6;

    >div:first-child {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .separator {
      padding: 0 4px;
      margin-top: 14px;
      font-size: 16px;
      text-align: center;
      color: #aeb4bc;
    }
  }

  .price-filter-min,
  .price-filter-max {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 80px;
      height: 44px;
      background-color: #fbfbfa;
      border: solid 1px #f0f3f6;
      outline:0;
      font-size: 16px;
      text-align: center;
      color: #aeb4bc;
    }

    label {
      font-size: 12px;
      font-weight: 500;
      color: #82858a;
    }
  }

  a {
    width: 180px;
    height: 44px;
    background-color: #ffffff;
    @include box-shadow-args( 0 3px 3px 0 rgba(154, 154, 154, 0.32));
    border: solid 1px #fff8f3;
    color: #ff9f69;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;

    span {
      font-size: 16px;
      position: absolute;
      top: 14px;
      right: 10px;
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}

.after-search-empty-container {
  background-color: #f8f9fc;
  padding: 30px 0;
}

.after-search-not-found {
  @include col();
  @include span(30, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  padding: 20px;
  @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
  background-color: #ffffff;

  .content {
    background-color: #fbfcfc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span.head {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
      color: #434b54;
      margin-top: 35px;

    }

    span.text {
      font-size: 16px;
      line-height: 1.38;
      text-align: center;
      color: #8c9196;
      margin-top: 15px;
    }

    a {
      height: 48px;
      background-color: #ffffff;
      @include box-shadow-args(0 3px 3px 0 rgba(154, 154, 154, 0.32));
      border: solid 1px #fff8f3;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #f98e4e;
      padding: 0 40px;
      margin-top: 25px;
      margin-bottom: 20px;
      position: relative;

      .icon-ico-navi-left {
        font-size: 16px;
        position: absolute;
        top: 14px;
        left: 15px;
        color: #f98e4e;
      }
    }

  }
}

.ui-accordion-header-active {
  .fa-plus {
    display: none;
  }
  .fa-minus {
    display: inline-block;
  }
}

.category-accordion-block {
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f4f6;

  .block-head {
    outline:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 10px;
    height: 44px;

    >span {
      line-height: 18px;
    }

    .icons-block {
      margin: 0 10px;
    }
  }

  .category-filter-list ul li span {
    padding-left: 25px;
  }

}

.urun-talep-cont {
  .row {
    background-color: #ffffff;
    @include box-shadow-args(0 2px 9px 0 rgba(0, 0, 0, 0.08));
  }
}

.urun-talep {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .left {
      width: 520px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 520px;
    }

    .urunMarkasi {
      width: 240px;
    }

    .urunModeli {
      width: 240px;
    }

    .urunLink {
      width: 500px;
    }

    .urunAciklama {
      width: 500px;

      textarea {
        height: 150px;
        resize: none;
      }
    }
  }

  h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
    color: #434b54;
    margin: 30px 0 10px 0;
  }

  p {
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #8c9196;
    max-width: 600px;
    margin: 5px 0 30px 0;
  }

  a {
    height: 48px;
    background-color: #ffffff;
    @include box-shadow-args( 0 3px 3px 0 rgba(154, 154, 154, 0.32));
    border: solid 1px #fff8f3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 82px;
    margin: 10px 0;

    span {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #f98e4e;

    }
  }
}

#categoryRequestModal {
  .modal-content{
    padding: 17px 20px 30px 20px;
  }

  .input-section {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    .urunMarkasi {
      width: 239px;
    }

    .urunModeli {
      width: 240px;
      margin-right: 0;
    }

    .urunLink {
      width: 500px;
      margin-right: 0;
      margin-bottom: 0;
    }

    .urunAciklama {
      width: 500px;
      margin-bottom: 10px;

      textarea {
        height: 150px;
        width: 491px;
        resize: none;
      }
    }
  }

}