.checkout {
  background-color: #f8f9fc;
}

.checkout-left {
  @include col();
  @include span(20, $gutter_pc, $gutter_px, $padding, $max_columns);
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(218, 218, 218, 0.25);
  margin-top: 20px;
}

.checkout-right {
  @include col();
  @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  box-shadow: 0 3px 3px 0 rgba(218, 218, 218, 0.25);
  margin-top: 20px;
  height: 100px;
}

.checkout-navigation {
  @include clearfix();
  padding: 0 20px;
}
.checkout-navigation-item {
  @include col();
  width: 50%;
  box-shadow: inset 0 -3px 0 0 #dde3e8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .checkout-navigation-item-number {
    width: 44px;
    height: 31px;
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.9;
    border-radius: 50%;
    border: solid 2px rgba(221,227,232,0.2);
    text-align: center;
    padding-top: 13px;
    color: #dde3e8;
  }
  .checkout-navigation-item-title {
    text-align: center;
    width: 290px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    margin: 25px 0;
    color: #dde3e8;
  }
}
.checkout-navigation-active {
  box-shadow: inset 0 -3px 0 0 #f98e4e;
  .checkout-navigation-item-title, .checkout-navigation-item-number {
    color: #f98e4e;
  }
  .checkout-navigation-item-number {
    border: solid 2px rgba(249, 142, 78, 0.06);
  }
}
.checkout-adress-form-header {
  padding: 0 20px;
  margin-top: 23px;
  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 3px;
  }
  .description {
    font-size: 16px;
    line-height: 1.38;
    color: #8c9196;
  }
}
.checkout-adress-form-container {
  padding: 0 20px;
  padding-top: 6px;
  .row {
    margin-top: 20px;
  }
  .twoInRow {
    @include col();
    @include span(9, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .threeInRow {
    @include col();
    @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color: #82858a;
    display: block;
    margin-bottom: 6px;
  }
  input[type="text"], select, .nice-select, .adressTextArea {
    height: 54px;
    background-color: #fbfbfa;
    border: solid 1px #f0f3f6;
    width: 100%;
    color: #626971;
    font-size:16px;
  }
  input:read-only {
    background-color: #f0f3f8;
    border: solid 1px #f0f3f6;
  }
  input:focus {
    border: solid 1px #ff9f69;
    outline: none;
  }
  .nice-select {
    height: 58px;
  }
  .current {
    line-height: 58px;
  }
  .checkBoxLine {
    color: #8c9196;
    font-size: 14px;
  }
  .adressTextArea {
    height:150px;
    resize: none;
  }
  .teslimatCheckBox {
    display: inline-block;
    margin-right: 8px;
  }
  .line {
    width: 740px;
    height: 2px;
    border: solid 1px #ededed;
    background: #ededed;
    margin: 32px 0 23px;
  }
  .irtibatNo {
    margin-top: 18px;
  }
}
.button-container {
  margin-top: 30px;
  height: 108px;
  text-align: right;
  background-color: #fafafc;
  padding: 0 20px;
  .addButton {
    width: 140px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(154, 154, 154, 0.32);
    border: solid 1px #fff8f3;
    color: #f98e4e;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0 30px 20px;
  }
  .cancelButton {
    color: #434b54;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 140px;
    height: 48px;
    background: transparent;
    border: solid 1px rgba(206,211,219,0.3);
  }
}
.last-child {
  @include beta();
  background: red;
}