.checkout {
  background-color: #f8f9fc;

}




.checkout-left {
  @include col();
  @include span(20, $gutter_pc, $gutter_px, $padding, $max_columns);
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(218, 218, 218, 0.25);
  margin-top: 20px;
}

.checkout-right {
  @include col();
  @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  box-shadow: 0 3px 3px 0 rgba(218, 218, 218, 0.25);
  margin-top: 20px;
  height: 100px;
}

.checkout-navigation {
  @include clearfix();
  padding: 0 20px;
}
.checkout-navigation-item {
  @include col();
  width: 50%;
  box-shadow: inset 0 -3px 0 0 #dde3e8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .checkout-navigation-item-number {
    width: 44px;
    height: 31px;
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.9;
    border-radius: 50%;
    border: solid 2px rgba(221,227,232,0.2);
    text-align: center;
    padding-top: 13px;
    color: #dde3e8;
    span {
      position: absolute;
      margin-top: -7px;
    }
  }
  .checkout-navigation-item-title {
    text-align: center;
    width: 290px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    margin: 25px 0;
    color: #dde3e8;
  }
}
.checkout-navigation-active {
  box-shadow: inset 0 -3px 0 0 #f98e4e;
  .checkout-navigation-item-title, .checkout-navigation-item-number {
    color: #f98e4e;
  }
  .checkout-navigation-item-number {
    border: solid 2px rgba(249, 142, 78, 0.06);
  }
}
.checkout-adress-form-header {
  margin-top: 23px;
  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 3px;
  }
  .description {
    font-size: 16px;
    line-height: 1.38;
    color: #8c9196;
  }
}
.checkout-adres-secimi-fatura-adresi-line, .checkout-adres-secimi-teslimat-adresi-line {
  width: 100%;
  background: #ededed;
  float: left;
  height: 1px;
  margin-bottom: 23px;
}
.checkout-adress-form-container {
  padding: 0 20px;
  padding-top: 6px;
  .row {
    margin-top: 20px;
    /* 1. SATIR */
    .faturaSirketUnvani, .faturaVergiNo {
      @include col();
      @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
    }
    .faturaVergiDairesi {
      @include col();
      @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }

    /* 2. SATIR */
    .faturaSirketAdresi {
      @include col();
      @include span(19, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }

    /* 3. SATIR */
    .faturaSubeAdi {
      @include col();
      @include span(9.5, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }

    /* 4. SATIR */
    .faturaSubeFaturaYetkilisi, .faturaYetkilisiEposta {
      @include col();
      @include span(9.5, $gutter_pc, $gutter_px, $padding, $max_columns);
    }
    .faturaYetkilisiEposta {
      @include beta();
    }

    /* 5. SATIR */
    .faturaIl, .faturaIlce {
      @include col();
      @include span(6.5, $gutter_pc, $gutter_px, $padding, $max_columns);
    }
    .faturaPostaKodu {
      @include col();
      @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }

    /* 6. SATIR */
    .faturaAdresi {
      @include col();
      @include span(9.5, $gutter_pc, $gutter_px, $padding, $max_columns);
    }
    .faturaSubeTelefonNumarasi {
      @include col();
      @include span(9.5, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }

    /* 7. SATIR */
    .teslimatAlacakKisi {
      @include col();
      @include span(9.5, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }

  }
  label {
    font-size: 14px;
    font-weight: 600;
    color: #82858a;
    display: block;
    margin-bottom: 6px;
  }
  input[type="text"], select, .nice-select, .adressTextArea {
    height: 54px;
    background-color: #fbfbfa;
    border: solid 1px #f0f3f6;
    width: calc(100% - 2px);
    color: #626971;
    font-size:16px;
  }
  input[type="text"] {
    padding: 0 20px;
    width: calc(100% - 42px);
  }
  input:read-only {
    background-color: #f0f3f8;
    border: solid 1px #f0f3f6;
    color: #4c535c;
  }
  input:focus, .open, textarea:focus {
    border: solid 1px #ff9f69;
    outline: none;
    color: #4c535c;
  }
  .nice-select {
    height: 58px;
    border-radius: 0;
    .list {
      border-radius: 0;
      margin-top: 2px;
      width: 100%;
      max-height: 292px;
      overflow-y: auto;
      padding: 0 12.4px 0 9px;
      .option {
        color: #868a8f;
        padding: 10px 0 12px 0;
        font-size: 16px;
        line-height: 1.38;
        box-shadow: inset 0 -1px 0 0 #f0f3f6;
        min-height: 16px;
        &:last-child {
          box-shadow: none;
        }
        &:hover, &.focus {
          background: white;
          font-weight: normal;
        }
      }
      .option.selected {
        color: #f57353;
        background: white;
      }
    }
  }
  .current {
    line-height: 58px;
  }
  .checkBoxLine {
    color: #8c9196;
    font-size: 14px;
    font-weight: 400;
    label {
      font-weight: 400;
    }
  }
  .adressTextArea {
    height: 110px;
    resize: none;
    padding: 20px 12px 18px 16px;
    width: calc(100% - 30px);
  }
  .teslimatCheckBox {
    display: inline-block;
    margin-right: 8px;
  }
  .line {
    width: 740px;
    height: 2px;
    border: solid 1px #ededed;
    background: #ededed;
    margin: 32px 0 23px;
  }
  .irtibatNo {
    margin-top: 18px;
  }
}
.button-container {
  margin-top: 30px;
  height: 108px;
  text-align: right;
  background-color: #fafafc;
  padding: 0 20px;
  .addButton {
    width: 140px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(154, 154, 154, 0.32);
    border: solid 1px #fff8f3;
    color: #f98e4e;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0 30px 20px;
  }
  .cancelButton {
    color: #434b54;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 140px;
    height: 48px;
    background: transparent;
    border: solid 1px rgba(206,211,219,0.3);
  }
}
.alisverisBilgileri {
  background-color: #ffffff;
  .alisverisBilgileri-title {
    padding: 16px 20px;
    box-shadow: 0 3px 3px 0 rgba(218, 218, 218, 0.25);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    span.urunSayisi {
      background-color: #ff9f69;
      box-shadow: 0 2px 2px 0 rgba(221, 149, 103, 0.25);
      padding: 6px 10px 2px;
      font-weight: 500;
      font-style: italic;
      text-align: center;
      color: #ffffff;
      margin-left: 12px;
    }
    span.dropdown-mark {
      float: right;
      font-size: 9px;
      margin-top: 6px;
    }
  }
  .alisverisBilgileri-info {
    padding: 14px 20px;
    & > div {
      color: #8c9196;
      font-size: 16px;
      line-height: 1.38;
      & > span {
        float: right;
      }
    }
    .araToplam, .kdvToplami {
      margin-bottom: 11px;
    }
    .kargoBedeliHesaplanacak {
      margin-bottom: 16px;
    }
  }
  .alisverisBilgileri-kullanilacakPuan {
    font-size: 14px;
    line-height: 1.57;
    color: #8c9196;
    padding: 8px 20px 10px;

    & > span {
      float: right;
      color: #434b54;
      line-height: 1.57;
    }
  }
  .alisverisBilgileri-kampanyaIndirimleri {
    font-size: 14px;
    line-height: 1.57;
    color: #8c9196;
    padding: 8px 20px 10px;

    & > span {
      float: right;
      color: #434b54;
      line-height: 1.57;
    }
  }
  .alisverisBilgileri-taksitDetaylari {
    font-size: 14px;
    line-height: 1.57;
    color: #8c9196;
    padding: 8px 20px 10px;

    & > span {
      float: right;
      color: #434b54;
      line-height: 1.57;
    }
  }
  .alisverisBilgileri-genelToplam {
    background: #fbfcfc;
    .line {
      background: #dde3e8;
      margin: 0;
      height: 1px;
    }
    .genelToplam {
      padding: 16px 20px 18px;
      font-size: 16px;
      color: #8c9196;
      line-height: 1.38;
      .kdvDahil {
        display: block;
        font-size: 14px;
        line-height: 1.57;
        color: #b6bbc0;
      }
      .genelToplamFiyat {
        float: right;
        font-size: 28px;
        font-weight: bold;
        color: #f98e4e;
      }
      .genelToplamFiyatEski {
        margin-top: -10px;
        float: right;
        line-height: 1.57;
        color: #434b54;
        font-size: 14px;
        text-decoration: line-through;
      }
      .genelToplamFiyatYeni {
        float: right;
        font-size: 28px;
        font-weight: bold;
        color: #f98e4e;
        clear: both;
        line-height: 1.25;
      }
    }
  }
}
.araToplamFiyat, .kdvToplamiFiyat {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #434b54;
}
.kargoBedeliFiyat {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #434b54;
  margin-left: 12px;
}
.kargoBedeliHesaplanacak {
  font-size: 14px;
  line-height: 1.57;
  color: #b6bbc0;
}
.blank {
  height: 38px;
  background: #fff;
}
.alisverisBilgileriButton {
  width: 340px;
  margin: -18px 20px 0;
  padding: 16.7px 0 15.3px;
  text-align: center;
  box-shadow: 0 3px 3px 0 rgba(255, 159, 105, 0.25);
  background-color: #ff9f69;
  a {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: 0;
  }
}
.disabledButton {
  background: #ffd9c4 !important;
}
/* BIREYSEL BLANK */
.checkout-message-panel {
  width: 740px;
  margin-top: 6px;
  background: #fbfcfc;
  .icon {
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
    width: 110px;
  }
  .info {
    width: 516px;
    margin: 16px auto 0;
    padding-bottom: 27px;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #8c9196;
  }
}
.yeniFaturaAdresiEkleButtonContainer {
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  .yeniFaturaAdresiEkleButton {
    width: 220px;
    a {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      height: 48px;
      color: #f98e4e;
      background: #ffffff;
      box-shadow: 0 3px 3px 0 rgba(154, 154, 154, 0.32);
      border: solid 1px #fff8f3;
      outline: 0;
    }
  }
}
/* BIREYSEL FATURA ADRESI */
.bireyselFaturaAdSoyad, .bireyselFaturaTCKNO {
  @include col();
  @include span(6.5, $gutter_pc, $gutter_px, $padding, $max_columns);
}
.bireyselFaturaTelefon {
  @include col();
  @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
}

/* BIREYSEL TESLIMAT ADRESI */
.bireyselTeslimAlacakKisi {
  @include col();
  @include span(9.5, $gutter_pc, $gutter_px, $padding, $max_columns);
}
.bireyselTeslimAlacakTelefon {
  @include col();
  @include span(9.5, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
}

/* ODEME YONTEMI */
.checkout-odeme-yontemi-left {
  @include col();
  @include span(5.5, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  .odeme-yontemi-nav-icon {
    float: right;
    font-size: 16px;
    margin-top: 3px;
  }
}

.checkout-odeme-yontemi-right {
  @include col();
  @include span(15, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  border-left: solid 1px #eceded;
  min-height: 192px;
}
.checkout-odeme-yontemi-header {
  padding:0 20px;
  margin-top: 23px;
  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 3px;
  }
  .description {
    font-size: 16px;
    line-height: 1.38;
    color: #8c9196;
    margin-bottom: 27px;
  }
}
.checkout-odeme-yontemi-container {
  padding: 0;
  .row {
    margin-top: 20px;
  }
}
.checkout-odeme-yontemi-right-content {
  padding: 0 20px;
  .tab-pane#acikHesap {
    background: #fbfcfc;
    .icon {
      margin: 0 auto;
      width: 109px;
      padding: 66px 0 17px;
    }
    .info {
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #8c9196;
      padding-bottom: 69px;
      span {
        font-weight: bold;
        color: #f57a3e;
      }
    }
  }
}
.alisverisBilgileriOnayCheckbox {
  margin-top: 20px;
  margin-left: 20px;
  label {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
    color: #8c9196;
  }
  div {
    &:first-child {
      margin-bottom:11px;
    }
  }
}
#mesafeliSatisSozlesmesiLabel, #onBilgilendirmeFormuLabel {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
.odeme-yontemi-form-container {
  padding-top: 6px;
  .row {
    margin-top: 20px;
    .krediKartiKartNo {
      @include col();
      @include span(7, $gutter_pc - 1px, $gutter_px, $padding, $max_columns);
    }
    .krediKartiKartIsim {
      @include col();
      @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }
    .krediKartiSKT {
      @include col();
      @include span(7, $gutter_pc - 1px, $gutter_px, $padding, $max_columns);
    }
    .krediKartiSKTAy {
      @include col();
      @include span(3.5, $gutter_pc, $gutter_px, $padding, $max_columns);
    }
    .krediKartiSKTYil {
      @include col();
      @include span(3.5, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }
    .krediKartiGuvenlikKodu {
      @include col();
      @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
      position: relative;
    }
    .puankrediKartiToplamPuan {
      @include col();
      @include span(7, $gutter_pc - 1px, $gutter_px, $padding, $max_columns);
    }
    .puankrediKartiKargoTutari {
      @include col();
      @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }
    .puankrediKartiKullanilacakPuan {
      @include col();
      @include span(7, $gutter_pc - 1px, $gutter_px, $padding, $max_columns);
    }
    .puankrediKartiKullanabileceginizPuan {
      @include col();
      @include span(7, $gutter_pc - 1px, $gutter_px, $padding, $max_columns);
      position: relative;
    }
    .puankrediKartiKalanTutar {
      @include col();
      @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
      position: relative;
    }
    .puankrediKartiKartNo {
      @include col();
      @include span(7, $gutter_pc - 1px, $gutter_px, $padding, $max_columns);
    }
    .puankrediKartiKartIsim {
      @include col();
      @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }
    .puankrediKartiSKT {
      @include col();
      @include span(7, $gutter_pc - 1px, $gutter_px, $padding, $max_columns);
    }
    .puankrediKartiSKTAy {
      @include col();
      @include span(3.5, $gutter_pc, $gutter_px, $padding, $max_columns);
    }
    .puankrediKartiSKTYil {
      @include col();
      @include span(3.5, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
    }
    .puankrediKartiGuvenlikKodu {
      @include col();
      @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
      position: relative;
    }
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color: #82858a;
    display: block;
    margin-bottom: 6px;
  }
  input[type="text"], select, .nice-select, .adressTextArea {
    height: 54px;
    background-color: #fbfbfa;
    border: solid 1px #f0f3f6;
    width: calc(100% - 2px);
    color: #626971;
    font-size:16px;
  }
  input[type="text"] {
    padding: 0 20px;
    width: calc(100% - 42px);
  }
  input:read-only {
    background-color: #f0f3f8;
    border: solid 1px #f0f3f6;
    color: #4c535c;
  }
  input:focus, .open, textarea:focus {
    border: solid 1px #ff9f69;
    outline: none;
    color: #4c535c;
  }
  .nice-select {
    height: 58px;
    border-radius: 0;
    .list {
      border-radius: 0;
      margin-top: 2px;
      width: 100%;
      max-height: 292px;
      overflow-y: auto;
      padding: 0 12.4px 0 9px;
      .option {
        color: #868a8f;
        padding: 10px 0 12px 0;
        font-size: 16px;
        line-height: 1.38;
        min-height: 16px;
        box-shadow: inset 0 -1px 0 0 #f0f3f6;
        &:last-child {
          box-shadow: none;
        }
        &:hover, &.focus {
          background: white;
          font-weight: normal;
        }
      }
      .option.selected {
        color: #f57353;
        background: white;
      }
    }
  }
  .guvenlikKoduIcon {
    position: absolute;
    top: 40px;
    right: 14px;
  }
  .current {
    line-height: 58px;
  }
  .checkBoxLine {
    color: #8c9196;
    font-size: 14px;
    > pretty {
      label {
        font-weight: 400;
      }
    }
  }
  .adressTextArea {
    height: 110px;
    resize: none;
    padding: 20px 12px 18px 16px;
    width: calc(100% - 30px);
  }
  .line {
    width: 540px;
    height: 1px;
    background: #f0f1f1;
    margin: 9px 0;
  }
  .irtibatNo {
    margin-top: 18px;
  }
}
.krediKartiTaksitSecenekleriGoster {
  margin: 90px -20px 0 -20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #434b54;
  padding: 23px 0;
  box-shadow: inset 0 1px 0 0 #eceded, inset 0 -1px 0 0 #eceded;
  &.active {
    color: #ff9f69;
  }
  &:hover {
    cursor: pointer;
  }
  span {
    margin: 0 18px 0 20px;
    img {
      display: inline;
    }
  }
}
.krediKartiTaksitSecenekleriDetay {
  background: #fbfcfc;
  margin: 0 -20px;
  padding-top: 20px;
  > div.installment-detail {
    background: #fff;
    margin-right: 10px;
    margin-left: 16px;
  }
}
.puankrediKartiCheckbox {
  padding-top: 40px;
  label {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
    color: #8c9196;
  }
  div {
    &:first-child {
      margin-bottom:11px;
    }
  }
}
.puankrediKartiPuanKullanimiCheckbox {
  color: #8c9196;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
  label {
    display: inline;
    margin-left: 8px;
  }
  span {
    font-size: 20px;
    color: #f57a3e;
  }
}
.puankrediKartiTaksitSecenekleriGoster {
  margin: 90px -20px 0 -20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #434b54;
  padding: 23px 0;
  box-shadow: inset 0 1px 0 0 #eceded, inset 0 -1px 0 0 #eceded;
  &.active {
    color: #ff9f69;
  }
  &:hover {
    cursor: pointer;
  }
  span {
    margin: 0 18px 0 20px;
    img {
      display: inline;
    }
  }
}
.puankrediKartiTaksitSecenekleriDetay {
  background: #fbfcfc;
  margin: 0 -20px;
}
.puankrediKartiTaksitDetaylari {
  background-color: #fbfcfc;
  box-shadow: inset 0 1px 0 0 #f0f3f6;
  margin: 0 -20px;
  padding: 0 20px 0 21px;
  float: left;
  .puankrediKartiTaksitSecenegi {
    border: solid 1px #f0f3f6;
    margin-bottom: 9px;
    float: left;
    clear: both;
    & > div {
      display: inline-block;
      float: left;
      text-align: center;
      padding: 16px 0 0 0;
      min-height: 42px;
      font-size: 14px;
      line-height: 1.64;
      letter-spacing: -0.1px;
      color: #768291;
    }
  }
  .puankrediKartiTaksitSecenegiHeader {
    border: none;
    margin: 22px 0 11px;
    float: left;
    clear: both;
    & > div {
      border: solid 1px #f0f3f6;
      display: inline-block;
      float: left;
      text-align: center;
      color: #6d6e70;
      letter-spacing: -0.1px;
      line-height: 1.64;
      padding: 6px 0 9px;
      font-weight: 600;
      min-height: 22px;
      background: #fff;
    }
  }
  .puankrediKartiTaksitCheckbox {
    width: 116px;
    background-color: rgba(221, 227, 232, 0.1);
  }
  .puankrediKartiTaksitSuresi {
    width: 111px;
    font-weight: 600;
    background: #fff;
  }
  .puankrediKartiTaksitTutari {
    width: 156px;
    background: #fff;
  }
  .puankrediKartiTaksitToplamTutar {
    width: 151px;
    background: #fff;
  }
  .puankrediKartiHeader1 {
    width: 115px;
  }
  .puankrediKartiHeader2 {
    width: 110px;
  }
  .puankrediKartiHeader3 {
    width: 155px;
  }
  .puankrediKartiHeader4 {
    width: 150px;
  }
}
/* ODEME YONTEMI HAVALE */
.havale-message-panel {
  width: 540px;
  background: #fbfcfc;
  .icon {
    padding-top: 28px;
    margin: 0 auto;
    text-align: center;
    width: 110px;
  }
  .info {
    width: 516px;
    margin: 18px auto 28px;
    padding-bottom: 27px;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #8c9196;
    span {
      color: #f57a3e;
      font-weight:bold;
    }
  }
}
.havaleHesap {
  margin-bottom: 20px;
  float: left;
  clear: both;
  border: solid 1px #dde4e8;
}
.havaleHesapSecimi {
  width: 80px;
  float: left;
  background: rgba(221, 227, 232, 0.1);
  text-align: center;
  label {
    padding: 56px 0;
    width: 80px;
    justify-content: center;
  }
  .pretty.circle i{
    margin-right: 0;
  }
}
.havaleHesapBanka {
  width: 114px;
  float: left;
  height: 132px;
  padding: 0 8px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  img {
    max-width: 100%;
  }
}
.havaleHesapBilgileri {
  width: 327px;
  min-height: 132px;
  float: left;
  font-size: 16px;
  line-height: 1.38;
  .havaleHesapIBAN {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.12;
    color: #434b54;
    margin-top: 25px;
  }
  .havaleHesapBankaBilgileri {
    margin-top: 12px;
    font-weight: normal;
    color: #8c9196;
  }
  .havaleHesapBankaHesapBilgileri{
    color: #8c9196;
    font-weight: 600;
    div {
      display: inline;
      &:first-child {
        margin-right: 10px;
      }
      span {
        color: #343b43;
      }
    }
  }
}
/* ADRES SECIMI */
.checkout-adres-secimi-fatura-adresi-container, .checkout-adres-secimi-teslimat-adresi-container {
  height: 352px;
  overflow-y: scroll;
  padding-bottom:20px;
  box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.04);
  .checkout-adres-secimi-details {
    @include col();
    @include span(13, $gutter_pc - 2px, $gutter_px, $padding, $max_columns);
    > h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.12;
      margin-top: 24px;
      color: #434b54;
    }
    > .checkout-adres-secimi-details-responsable {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      line-height: 1.38;
      color: #343a42;
      margin-top: 13px;
    }
    > .checkout-adres-secimi-details-adress {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      line-height: 1.38;
      color: #8c9196;
    }
  }
  .checkout-adres-secimi-buttons {
    @include col();
    @include span(3.5, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include beta();
    height: 100px;
    margin-top: 10px;
    a {
      font-size: 16px;
      line-height: 1.5;
      color: #8c9196;
      box-shadow: inset 0 -1px 0 0 #8c9196;
      outline: 0;
      span {
        margin-left: 4px;
        font-size: 18px;
      }
    }
  }
}
.checkout-adres-secimi-teslimat-yontemi-container {
  padding-bottom: 20px;
}
.checkout-adres-secimi-fatura-adresi-footer, .checkout-adres-secimi-teslimat-adresi-footer {
  float: left;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
  .checkout-fatura-adresi-button-container {
    width: 220px;
    padding: 30px 19px 30px 0;
    a {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      height: 48px;
      background-color: #ffffff;
      color: #f98e4e;
      box-shadow: 0 3px 3px 0 rgba(154, 154, 154, 0.32);
      border: solid 1px #fff8f3;
      outline: 0;
    }
  }
  .yetkisi-olmayan {
    width: auto;
    padding: 0 0 45px 0;
    a {
      height: auto;
      border: none;
      font-size: 16px;
      line-height: 1.5;
      color: #8c9196;
      box-shadow: inset 0 -1px 0 0 #8c9196;
      outline: 0;
    }
  }
}

.checkout-adres-secimi-item {
  border: solid 1px #dde4e8;
}
.checkout-adres-secimi-checkbox, .checkout-teslimat-yontemi-checkbox {
  @include col();
  @include span(2.5, $gutter_pc, $gutter_px, $padding, $max_columns);
  background: rgba(221, 227, 232, 0.1);
  text-align: center;
  label {
    padding: 45px 0;
    width: 80px;
  }
  .pretty.circle i{
    margin-right: 0;
  }
}
.checkout-teslimat-yontemi-logo {
  @include col();
  @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 109px;
}
.checkout-teslimat-yontemi-details {
  @include col();
  @include span(9, $gutter_pc - 2px, $gutter_px, $padding, $max_columns);
  > h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.12;
    margin-top: 31px;
    color: #434b54;
  }
  .checkout-teslimat-yontemi-details-kargo {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #343a42;
    span {
      color: #8c9196;
    }
  }
}
.checkout-teslimat-yontemi-fiyat {
  @include col();
  @include span(3.5, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();
  height: 109px;
  padding-right: 20px;
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #434b54;
  span {
    display: block;
    font-size: 14px;
    line-height: 1.57;
    color: #b6bbc0;
  }
}
#faturaAdresiGuncellemeTalebiModal, #teslimatAdresiGuncellemeTalebiModal {
  > div.modal-dialog {
    width: 420px;
  }
  .modal-title {
    margin: 25px 0 7px;
  }
  .modal-body {
    background: #fff;
    height: auto;
    padding: 0 20px;
  }
  .modal-desc {
    height: auto;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #8c9196;
    width: 100%;
    margin-bottom: 28px;
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
    .guncelleme-talebi-modal-button-container {
      width: 140px;
      padding: 20px 20px 20px 0;
      a {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        height: 48px;
        color: #ffffff;
        background: #ff9f69;
        box-shadow: 0 3px 3px 0 rgba(255, 159, 105, 0.25);
        outline: 0;
      }
    }
    .cancelButton {
      a {
        border: solid 1px rgba(206,211,219,0.3);
        background: transparent;
        box-shadow: none;
        color: #434b54;
        outline: 0;
      }
    }
  }
  .row {
    margin-top: 20px;
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color: #82858a;
    display: block;
    margin-bottom: 6px;
  }
  input[type="text"], select, .nice-select, .aciklamaTextArea {
    height: 54px;
    background-color: #fbfbfa;
    border: solid 1px #f0f3f6;
    width: calc(100% - 2px);
    color: #626971;
    font-size:16px;
  }
  input[type="text"] {
    padding: 0 20px;
    width: calc(100% - 42px);
  }
  input:read-only {
    background-color: #f0f3f8;
    border: solid 1px #f0f3f6;
    color: #4c535c;
  }
  input:focus, .open, textarea:focus {
    border: solid 1px #ff9f69;
    outline: none;
    color: #4c535c;
  }
  .aciklamaTextArea {
    height: 150px;
    resize: none;
    padding: 20px 12px 18px 16px;
    width: calc(100% - 30px);
  }
  .nice-select {
    height: 58px;
    border-radius: 0;
    .list {
      border-radius: 0;
      margin-top: 2px;
      width: 100%;
      max-height: 292px;
      overflow-y: auto;
      padding: 0 12.4px 0 9px;
      .option {
        color: #868a8f;
        padding: 10px 0 12px 0;
        font-size: 16px;
        line-height: 1.38;
        box-shadow: inset 0 -1px 0 0 #f0f3f6;
        min-height: 16px;
        &:last-child {
          box-shadow: none;
        }
        &:hover, &.focus {
          background: white;
          font-weight: normal;
        }
      }
      .option.selected {
        color: #f57353;
        background: white;
      }
    }
  }
  .current {
    line-height: 58px;
  }
  .checkBoxLine {
    color: #8c9196;
    font-size: 14px;
    font-weight: 400;
    label {
      font-weight: 400;
    }
  }
}
.havale-basarili-container {
  width: 100%;
  background: #fff;
  margin: 10px 0 120px;
  padding: 45px 40px 40px 40px;
  h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    color: #434b54;
  }
  .havale-basarili-message {
    margin-top: 35px;
    background-color: #fbfcfc;
    padding-top: 40px;
  }
  .havale-basarili-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .havale-basarili-detay {
    text-align: center;
    color: #434b54;
    line-height: 1.3;
    font-size: 20px;
    display: block;
    span.havale-zamani {
      font-weight: bold;
    }
    span.havale-no {
      font-weight: bold;
    }
  }
  .havale-basarili-bilgilendirme {
    @include col();
    @include span(22, $gutter_pc, $gutter_px, $padding, $max_columns);
    margin: 30px auto;
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(218, 218, 218, 0.25);
    float: none;
    position: relative;
    .havale-basarili-bilgilendirme-icon {
      position: absolute;
      top:0;
      left:0;
    }
    .havale-basarili-bilgilendirme-content {
      padding:33px 60px 37px;
      font-size: 16px;
      line-height: 1.62;
      text-align: center;
      color: #8c9196;
    }
    .havale-basarili-bilgilendirme-yonetici-container {
      display: flex;
      align-items:center;
      justify-content: center;
      flex-direction: row;
      margin-top: 25px;
      .havale-basarili-bilgilendirme-yonetici-item {
        border: solid 1px #dde3e8;
        height: 75px;
        width: calc(50% - 2px);
        font-size: 16px;
        line-height: 1.38;
        text-align: center;
        .yonetici-isim {
          margin-top: 15px;
          color: #434b54;
        }
        .yonetici-email {
          color: #93989c;
        }
      }
    }
  }
  .havale-basarili-siparis-durumu {
    width: 502px;
    height: 78px;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 33px;
    color: #8c9196;
    a {
      text-decoration: underline;
    }
  }
  .havale-basarili-banka-detaylari {
    display: flex;
    align-items: center;
    height: 170px;
    padding-bottom: 40px;
    .havale-basarili-hesap-bilgileri {
      width: 50%;
      height: 100%;
      border-right: solid 1px #dde3e8;
      float: left;
      .havale-basarili-hesap-bilgileri-icon {
        padding: 61px 0 0 69px;
        display: inline-block;
        margin-right: 7px;
        img {
          max-width: 100%;
        }
      }
      .havale-basarili-hesap-bilgileri-content {
        display: inline-block;
        padding-top: 46px;
        vertical-align: top;
        .havale-basarili-hesap-bilgileri-content-iban {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.12;
          color: #434b54;
          margin-bottom: 20px;
        }
        .havale-basarili-hesap-bilgileri-content-banka {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: normal;
          color: #8c9196;
        }
        .havale-basarili-hesap-bilgileri-content-subehesap {
          font-weight: 600;
          color: #8c9196;
          span {
            color: #343b43;
          }
          .havale-basarili-hesap-bilgileri-content-subekodu {
            margin-right: 20px;
          }
        }
      }
    }
    .havale-basarili-banka-bilgilendirme {
      width: calc(50% - 102px);
      height: 100%;
      padding: 32px 40px 0 62px;
      font-size: 16px;
      line-height: 1.62;
      color: #8c9196;
      a {
        text-decoration: underline;
      }
    }
  }
}
#guncellemeTalebiGonderildiModal {
  > div.modal-dialog {
    width: 420px;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 0 8px;
  }
  .modal-body {
    background: #fff;
    padding: 0;
    height: auto;
    h4 {
      margin: 0 0 7px 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
      color: #434b54;
    }
    .modal-desc {
      font-size: 16px;
      line-height: 1.38;
      text-align: center;
      color: #8c9196;
      margin-bottom: 28px;
    }
  }
  .modal-user-container {
    padding: 0 20px;
    background: #fbfcfc;
    .modal-user-item {
      text-align: center;
      padding: 20px 0;
      box-shadow: inset 0 -1px 0 0 #eceded;
      &:last-child {
        box-shadow: none;
      }
      span {
        display: block;
        color: #93989c;
      }
    }
  }
  .modal-footer {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .guncelleme-talebi-gonderildi-modal-button-container {
      width: 220px;
      a {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        height: 48px;
        color: #ffffff;
        background: #ff9f69;
        @include box-shadow-args(0 3px 3px 0 rgba(255, 159, 105, 0.25));

      }
    }
  }
}
/* OVERRIDE */
.nav-pills > li > a {
  color: #434b54;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 18px;
  border-radius: 0;
  line-height: 1.38;
  outline: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: transparent;
  color: #fa9458;
  box-shadow: inset 4px 0 0 0 #ff9f69, inset 0 1px 0 0 #f0f3f6;
  outline: 0;
}
.nav-stacked > li {
  box-shadow: inset 4px 0 0 0 #dde3e8, inset 0 1px 0 0 #f0f3f6;
}
.nav-stacked > li + li {
  margin-top:0;
}
.pretty.circle {
  margin: 0;
  label {
    margin-bottom: 0;
    i {
      padding: 1px;
      color: #ff9f69;
    }
  }
}
.pretty.circle i {
  font-size: 13px !important;
}
.pretty.circle i:after {
  border: 1px solid #b9b9b9;
  background: #fff;
}
.pretty.circle > input[type='checkbox']:checked + label > i:after, .pretty.circle > input[type='radio']:checked + label > i:after {
  border: solid 1px #ff9f69;
}