.corporate-content {
  padding: 20px;

  img {
    display: inline-block;
  }

  h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    color: #434b54;
    margin: 10px 0 30px 0;
  }

  h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    color: #434b54;
    margin: 5px 0;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    color: #8c9196;
    margin: 5px 0;
  }
}

.corporate-havale {
  h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    color: #434b54;
    margin-bottom: 4px;
  }

  .subtitle {
    margin: 0;
  }
}

.corporate-havale-liste {
  margin-top: 30px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 920px;
      height: 150px;
      background-color: #ffffff;
      border: solid 1px #dde4e8;
      margin-bottom: 30px;

      >div {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end;
      }

      span.iban {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.12;
        color: #434b54;
      }

      span {
        font-size: 16px;
        line-height: 1.38;
        color: #8c9196;
      }

      .col1 {
        width: 120px;
        margin-right: 20px;
      }

      .col2 {
        width: 380px;
        margin-right: 20px;
      }

      .col3 {
        width: 200px;
        margin-right: 20px;
      }
    }
  }
}

.corporate-iletisim {
  h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    color: #434b54;
    margin-bottom: 4px;
  }

  .subtitle {
    margin: 0;
  }
}

.corporate-iletisim-icons {
  display: block;
  margin: 30px 0 0 0;

  .footer-icon {
    margin-bottom: 32px;
    img {
      width: 56px;
    }

    .icon-overlay {
      width: 40px;
      height: 73px;
      top: 2px;
      left: 20px;
    }

    h4 {
      font-size: 16px;
    }

    h3 {
      font-size: 16px;
    }
  }

  .left {
    width: 460px;
    display: block;
    float: left;

    .footer-icon {
      width: 420px;

      img {
        align-self: flex-start;
        margin-top: 12px;
        margin-left: 6px;
        width: initial;
      }
    }

    .iletisim-adres {
      p {
        max-width: 420px;
        font-size: 16px;
        line-height: 1.56;
        color: #6f7276;
        margin: 8px 0 5px 20px;
      }
    }
  }

  .right {
    display: block;
    float: left;
    width: 460px;

    >div {
      float: left;
      width: 220px;
    }

    .footer-icon {
      width: 220px;
      float: left;
    }

    .footer-social {
      .sc-icon {
        width: 32px;
        height: 32px;

        i {
          font-size: 24px;
        }
      }
    }
  }
}

.corporate-iletisim-form {

  form {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .bottom {
    margin: 20px -20px -20px -20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      width: 130px;
      height: 48px;
      background-color: #ff9f69;
      @include box-shadow-args(0 3px 3px 0 rgba(255, 159, 105, 0.25));
      font-size: 16px;
      text-align: center;
      color: #ffffff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  .personal-input {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .supportTel {
    margin-right: 0;
    width: 278px;
  }

  .supportKonu {
    width: 440px;
    margin-right: 14px;
  }

  .supportMesaj {
    width: 460px;

    textarea {
      resize: none;
      height: 150px;
    }
  }
}

.corporate-sss {
  h5 {
    margin-bottom: 2px;
  }
}

.sss-accordion-container {
  h5.title {
    height: 50px;
    background-color: #fcfcfc;
    font-size: 16px;
    line-height: 1.38;
    color: #434b54;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 5px;
    margin-top: 30px;
  }

  .sss-accordion {
    .ui-accordion-header-icon {
      display: none;
    }

    .ui-accordion-header {
      cursor: pointer;

      span.head {
        padding: 0;
      }
    }

    .ui-accordion-header-active {
      span.head {
        i {
          color: #434b54;
        }
        color: #ff9f69;
      }
    }

    margin-top: 0;
    >h3 {
      height: 54px;
      background-color: #ffffff;
      @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
      display: flex;
      align-items: center;
      padding: 0 20px;
      margin: 0 0 10px 0;
      outline: 0;
      font-size: 16px;
      line-height: 1.38;
      color: #434b54;

      i {
        margin-right: 20px;
        font-size: 12px;
      }
    }

    >div {
      margin-top: -10px;
      p {
        margin: 0;
        padding: 20px;
        background-color: #fcfcfc;
      }
    }
  }
}