@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4ahpt6');
  src:  url('../fonts/icomoon.eot?4ahpt6#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?4ahpt6') format('truetype'),
  url('../fonts/icomoon.woff?4ahpt6') format('woff'),
  url('../fonts/icomoon.svg?4ahpt6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  font-size: 24px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-checkbox-check:before {
  content: "\e92b";
}
.icon-ico-arrow-down:before {
  content: "\e92a";
}
.icon-ico-down-arrow:before {
  content: "\e923";
}
.icon-ico-up-arrow:before {
  content: "\e929";
}
.icon-ico-arrow2:before {
  content: "\e924";
}
.icon-ico-navi-left:before {
  content: "\e925";
}
.icon-ico-line:before {
  content: "\e926";
}
.icon-ico-plus:before {
  content: "\e927";
}
.icon-ico-navi-right:before {
  content: "\e928";
}
.icon-ico-warning .path1:before {
  content: "\e900";
  color: rgb(26, 26, 26);
}
.icon-ico-warning .path2:before {
  content: "\e901";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.icon-ico-warning .path3:before {
  content: "\e902";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.icon-ico-search:before {
  content: "\e903";
}
.icon-ico-question-radius:before {
  content: "\e904";
}
.icon-ico-questio-oval .path1:before {
  content: "\e905";
  color: rgb(26, 26, 26);
}
.icon-ico-questio-oval .path2:before {
  content: "\e906";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.icon-ico-questio-oval .path3:before {
  content: "\e907";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.icon-ico-questio-oval-copy .path1:before {
  content: "\e908";
  color: rgb(26, 26, 26);
}
.icon-ico-questio-oval-copy .path2:before {
  content: "\e909";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.icon-ico-questio-oval-copy .path3:before {
  content: "\e90a";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.icon-ico-new-favorite-list:before {
  content: "\e90b";
}
.icon-ico-logout:before {
  content: "\e90c";
}
.icon-ico-login-signup:before {
  content: "\e90d";
}
.icon-ico-list-item:before {
  content: "\e90e";
}
.icon-ico-home:before {
  content: "\e90f";
}
.icon-ico-gift:before {
  content: "\e910";
}
.icon-ico-free-shipping:before {
  content: "\e911";
}
.icon-ico-fast-cargo:before {
  content: "\e912";
}
.icon-ico-edit:before {
  content: "\e913";
}
.icon-ico-delete:before {
  content: "\e914";
}
.icon-ico-delete-solid .path1:before {
  content: "\e915";
  color: rgb(26, 26, 26);
}
.icon-ico-delete-solid .path2:before {
  content: "\e916";
  margin-left: -1.0439453125em;
  color: rgb(255, 255, 255);
}
.icon-ico-close .path1:before {
  content: "\e917";
  color: rgb(26, 26, 26);
}
.icon-ico-close .path2:before {
  content: "\e918";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.icon-ico-close-copy .path1:before {
  content: "\e919";
  color: rgb(26, 26, 26);
}
.icon-ico-close-copy .path2:before {
  content: "\e91a";
  margin-left: -1.0458984375em;
  color: rgb(255, 255, 255);
}
.icon-ico-basket:before {
  content: "\e91b";
}
.icon-ico-arrow:before {
  content: "\e91c";
}
.icon-ico-all-category:before {
  content: "\e91d";
}
.icon-ico-4-grid:before {
  content: "\e91e";
}
.icon-ico-3-grid:before {
  content: "\e91f";
}
.icon-group-6:before {
  content: "\e920";
}
.icon-download:before {
  content: "\e921";
}
.icon-credit-card:before {
  content: "\e922";
}

.icon-ico-fast-cargo {
  font-size: 20px;
}