/* Sample color palette */

$yellow: #fecf33;
$light_orange: #fdbd39;
$peach: #ee6723;

@font-face {
  font-family: AcuminPro;
  src: url("../fonts/acumin_light_italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: AcuminPro;
  src: url("../fonts/acumin_regular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: AcuminPro;
  src: url("../fonts/acumin_medium.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: AcuminPro;
  src: url("../fonts/acumin_semibold.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: AcuminPro;
  src: url("../fonts/acumin_bold.otf") format("opentype");
  font-weight: 600;
}


/* Text styles */

h1 {
  font-family: AcuminPro, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  color: #434b54;
}

h2 {
  font-family: AcuminPro, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.25;
  color: #434b54;
}

h3 {
  font-family: AcuminPro, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: #434b54;
}

h4 {
  font-family: AcuminPro, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #434b54;
}

.tagline {
  font-family: AcuminPro, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #8d9297;
}

h5 {
  font-family: AcuminPro, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #434b54;
}

h5 {
  font-family: AcuminPro, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  color: #434b54;
}

link {
  font-family: AcuminPro, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #8c9196;
}

.paragraph {
  font-family: AcuminPro, sans-serif;
  font-size: 16px;
  line-height: 1.38;
  color: #8c9196;
}