
.footer-head {
  margin-top: -72px;
  height: 144px;
  background-color: #ffffff;
  @include box-shadow-args(0 7px 14px 0 rgba(0, 0, 0, 0.24));
}

.footer-first-row {
  height: 256px;
  margin-top: 193px;
  background-color: #75787c;

  .footer-logo {
    @include col();
    @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-icon {
    @include col();
    @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .icon-overlay {
      position: absolute;
      width: 50px;
      height: 90px;
      background-color: rgba(255, 230, 210, 0.49);
      left: 25px;
      top: 25px;
    }

    img {
      position: relative;
      z-index: 11;
    }

    h4 {
      color: #f98e4e;
      margin: 16px 0 5px 20px;
    }

    h3 {
      margin-top: 5px;
      margin-left: 20px;

      a {
        color: #6f7276;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }

  .footer-social {
    @include beta();

    .social-icons {
      margin-left: 20px;
      display: flex;
      flex-direction: row;

      .sc-icon {
        width: 42px;
        height: 42px;
        border: solid 1px #ced3db;
        margin-right: 20px;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        
        i {
          color: #6F7276;
          font-size: 24px;
        }
      }

      .facebook {
        &:hover {
          background-color: #3b5a9a;
          border-color: #3b5a9a;
          i {
            color: white;
          }
        }
      }

      .twitter {
        &:hover {
          background-color: #23abe7;
          border-color: #23abe7;
          i {
            color: white;
          }
        }
      }

      .linkedin {
        &:hover {
          background-color: #117bb7;
          border-color: #117bb7;
          i {
            color: white;
          }
        }
      }
    }
  }

  .bulten-row {
    margin-top: 50px;

    .bulten-slogan {
      @include col();
      @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include push(4);

      h3 {
        color: #ced3db;
        margin: 0 0 6px 0;
      }

      h4 {
        color: #a2a8b2;
        margin: 0;
      }
    }

    .bulten-input {
      @include col();
      @include span(16, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include beta();
      display: flex;
      flex-direction: row;
      max-width: 462px;

      input {
        width: 462px;
        height: 50px;
        background-color: rgba(254, 254, 254, 0.13);
        border: 0;
        padding: 0 0 0 20px;

        outline: 0;
      }

      a {
        width: 142px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        background-color: #ff9f69;
        box-shadow: 0 3px 3px 0 rgba(255, 159, 105, 0.25);
        color: #ffffff;
        text-decoration: none;


        &:hover,
        &:focus{
          text-decoration: none;
        }
      }
    }

    .bulten-checkbox {
      @include col();
      @include span(16, $gutter_pc, $gutter_px, $padding, $max_columns);
      @include push(14);
      @include beta();
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      input {
        margin-right: 12px;
      }

      label {
        display: flex;
        flex-direction: row;
        width: 358px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.29;
        letter-spacing: 0.1px;
        color:#cbcdcf;
      }
    }
  }
}

.footer-second-row {
  min-height: 260px;
  background-color: #6f7276;

  h4 {
    padding: 28px 0 17px 0;
    margin: 0;
    line-height: 1.2;
    color: #ced3db;
    border-bottom: solid 2px #898a8b;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      a {
        color: #aaadb0;
        font-weight: 100;
        line-height: 1.75;
        text-decoration: none;

        &:hover,
        &:focus{
         text-decoration: none;
       }
      }
    }
  }
}

.copyright {
  .footer-copyright {
    height: 57px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;

    .copyright-text {
      display: inline-flex;
      flex-direction: row;
      align-items: center;

      >span {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 6px 0 0 20px;
      }
    }


  }

  .copyright-text {
    @include col();
    @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include alpha();
    text-align: left;
    font-size: 14px;
    color: #6f7276;
  }

  .bank-list {
    @include col();
    @include span(14, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include push(10);
    @include beta();
  }
}

.footer-list-about {
  @include col();
  @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
}

.footer-list-help {
  @include col();
  @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include push(2);
}

.footer-list-subscription {
  @include col();
  @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include push(2);


}