
.header {
  background-color: #fff;
  height: 66px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.06);

  $header_element_height: 46px;

  .row {
    padding: 10px 0;

    >div:first-child {
      @include alpha();
    }

    >div:last-child {
      @include beta();
    }
  }

    .logo_container {
    @include col;
    @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);

    a{
      max-height: $header_element_height;
    }
  }

  .search_input_container {
    @include col;
    @include span(12, $gutter_pc, $gutter_px, 0 20px 0 0, $max_columns);
    position: relative;

    .icon-ico-search {
      position: absolute;
      right: 18px;
      top: 10px;
      box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.08);
      padding: 0 20px 0 16px;
      color: #8c9196;
      font-size: 28px;
    }
  }

  .logo {
    max-height: $header_element_height;
  }

  .search_input {
    height: $header_element_height;
    padding-left: 14px;
    border: 0;
    width: calc(100% - 15px);
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);

    @include placeholder-color(rgba(0, 0, 0, 0.21));

    outline: 0;

    &:focus {
      color: #444b54;
    }
  }

  .auth_logged_container {
    @include col;
    width: 267px;
    margin-top: -10px;
    border-left: 1px solid #e8eaee;
    background-color: white;
    position: relative;

    .first-row {
      height: 32px;
      background-color: #fff7f3;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      span.company-name {
        font-size: 14px;
        font-weight: 500;
        color: #f56b49;
        margin-left: 10px;
      }

      span.company-fund {
        font-size: 14px;
        font-weight: 600;
        color: #434b54;
        margin-right: 30px;
      }
    }

    .second-row {
      height: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;

      span.customer-name {
        font-size: 14px;
        font-weight: 200;
        color: #434b54;
        margin-left: 10px;
      }
    }

    .logged-nav {
      top:8px;
      right: -25px;

      position: absolute;


      .logged-nav-button {
        width: 46px;
        height: 46px;
        background-color: #ffffff;
        box-shadow: 0 3px 3px 0 rgba(154, 154, 154, 0.25);
        border: solid 1px #fff8f3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      &.open {

        .logged-nav-container {
          display: block;
        }

        .logged-nav-button>span {
          @include transform(rotate(180deg));
          color: #f46b49;
        }
      }

      .logged-nav-button>span {
        font-size: 11px;
        color: #434b54;
      }

      div.logged-nav-container {
        display: none;
        width: 290px;
        position: absolute;
        right: 0;
        top: 54px;
        z-index: 22;
        background-color: #ffffff;
        @include box-shadow-args(0 2px 9px 0 rgba(0, 0, 0, 0.08));

        >div {
          display: flex;
          flex-direction: column;
          padding-top: 16px;
        }

        .options-list {
          background-color: #fafafc;

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 8px;

            li {
              padding: 0 20px;
              margin-bottom: 16px;

              a {
                font-size: 14px;
                font-weight: 400;
                color: #434b54;
              }

            }
          }
        }

        .company-list {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              height: 33px;
              display: flex;
              align-items: center;

              a {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.57;
                color: #434b54;
                padding: 0 20px;
              }

              &.active {
                background-color: #fff8f3;
                a {
                  color: #f46b49;;
                }
              }
            }
          }
        }

        span.title {
          font-size: 12px;
          font-weight: 600;
          color: #aab5c1;
          margin-left: 20px;
        }

        .options-list {
          list-style: none;
          margin: 0;
          padding-top: 16px;

          li {
            .accordion {
              outline: 0;
              cursor: pointer;

              .ui-accordion-header-active {
                .fa-minus {
                  display: inline-block;
                }

                .fa-plus {
                  display: none;
                }
              }

              .fa-minus {
                display: none;
              }

              h3 {
                font-size: 14px;
                font-weight: 400;
                color: #434b54;
                margin: 0;
                outline: 0;
              }

              >div {
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                margin: 10px 30px;

                a {
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 1.57;
                  color: #434b54;
                  margin-bottom: 8px;
                }
              }
            }
          }
        }

        .logout {
          height: 43px;
          background-color: rgba(0,0,0,0.06);
          padding: 0 20px;

          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
          }

          span:first-child {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            color: #434b54;
            opacity: 0.66;
          }

          span:last-child {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            color: #434b54;
          }
        }
      }
    }
  }

  .basket_button_container {
    position: relative;

    &:hover {
      .basket-hovered {
        display: block;
      }
    }
  }

  .basket-hovered {
    display: none;
    width: 380px;
    position: absolute;
    right: 0;
    z-index: 21;
    background-color: white;

    @include box-shadow-args(0 2px 9px 0 rgba(0, 0, 0, 0.08));

    &.empty {
      >div.basket-body {
        height: 226px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include box-shadow-args(inset 0 -2px 4px 0 rgba(0, 0, 0, 0.07));
      }
      p {
        font-size: 14px;
        color: #8c9196;
        line-height: 24px;
      }

      div.bottom {
        height: 30px;

        a {
          width: 346px;
          height: 48px;
          background-color: #ff9f69;
          @include box-shadow-args(0 3px 3px 0 rgba(255, 159, 105, 0.25));
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px auto;

          span {
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;
          }
        }
      }
    }
  }

  .auth_button_container{
    @include col;
    @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include push(4);

    a {
      height: $header_element_height;
      width: 100%;
      border: 0;
      text-align: left;
      color: #ffffff;
      background-color: #ff9f69;
      box-shadow: 0 3px 3px 0 rgba(255, 159, 105, 0.25);
      display: flex;
      flex-direction: row;
      align-items: center;


      .auth_button_text {
        text-align: left;
        display: inline-block;
        margin-left: 11px;

        span {
          display: block;
          font-size: 14px;

        }
        span:first-child {
          font-weight: bold;
        }
      }
      span.icon-ico-login-signup {
        font-size: 30px;
        margin-left: 18px;
        color: white;
      }
    }
  }

  .basket_button_container {
    @include col;
    @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
    margin-left: 0;
    float: right;

    a {
      height: $header_element_height;
      width: 100%;
      text-align: left;
      color: #f98e4e;
      font-size: 14px;
      position: relative;

      background-color: #ffffff;
      box-shadow: 0 3px 3px 0 rgba(154, 154, 154, 0.25);
      //border: solid 1px #fff8f3;

      display: flex;
      flex-direction: row;
      align-items: center;

      .basket_button_text {
        margin-left: 11px;
      }

      .basket_count {
        position: absolute;
        top: 4px;
        right: 12px;
        background-color: #f98e4e;

        color: white;
        padding: 3px 4px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 12px;
        @include box-shadow-args( 0 2px 2px 0 rgba(221, 149, 103, 0.25));
      }
    }

    &.empty {
      .icon-ico-basket {
        margin-left: 35px;
      }
    }

    .icon-ico-basket {
      margin-left: 25px;
      font-size: 29px;
    }
  }

  .user-details {

  }

  &.logged-in {
    .search_input_container,
    .basket_button_container,
    .auth_button_container {
      display: none;
    }

    .user-details {
      display: block;
    }
  }
}

.header_nav_slider {

}

.nav_container {
  &.inner-page {
    background-color: #f1f0f0;
    margin-top: -1px;
    @include box-shadow-args(0 6px 8px 0 rgba(0, 0, 0, 0.04));

    .icon-ico-all-category {
      top: 14px;
    }

    .nav_list_lv1 {
      top: 50px;
    }

    .nav_row {
      margin-top: 0;
    }
    nav {
      margin: 0;
    }

    .nav_list {
      @include box-shadow-args(0 0 0 0 rgba(0, 0, 0, 0));
      li {
        height: 50px;
        line-height: 50px;
      }
    }
  }
}

.nav_row {
  margin-top: 20px;

  nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include box-shadow-args(0 6px 8px 0 rgba(0, 0, 0, 0.08));

  li:nth-child(2) {
    .nav_list_lv1 {
      margin-left: -254px;
      height: 280px;
    }
  }

  li:nth-child(3) {
    .nav_list_lv1 {
      margin-left: -485.5px;
      height: 280px;

    }
  }

  li:nth-child(4) {
    .nav_list_lv1 {
      margin-left: -716.5px;
      height: 280px;

    }
  }

  li:nth-child(5) {
    .nav_list_lv1 {
      margin-left: -948px;
      height: 280px;

    }
  }

  > li {
    height: 58px;
    line-height: 58px;
    min-width: 231.5px;
    color: #8c9196;
    background-color: #f1f0f0;
    box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.05), inset 0 -1px 0 0 #ededed;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    flex-grow: 1;
    position: relative;
    cursor: pointer;

    .icon-ico-arrow-down {
      position: absolute;
      top: 23px;
      right: 20px;
      @include css_transition(.3s all);
      color: rgba(0, 0, 0, 0.26);
      font-size: 9px;
    }

    .icon-ico-all-category {
      position: absolute;
      top: 18px;
      left: 14px;
      font-size: 22px;
      color: #fff;
    }

    &:hover {
      background-color: #ffffff;
      box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.05);
      color: #ff9f69;

      .nav_list_lv1 {
        display: block;
      }

      .icon-ico-arrow-down {
        @include transform(rotate(-180deg));
        color: #ff9f69;
      }
    }

    &:first-child {
      min-width: 254px;
      max-width: 254px;
      color: #ffffff;
      background-color: #ff9f69;
      box-shadow: 0 3px 3px 0 rgba(255, 159, 105, 0.25);

      &:hover {
        background-color: #f58553;

        .icon-ico-arrow-down {
          color: white;
        }
      }
    }
  }
}

.nav_list_lv1 {
  position: absolute;
  display: none;
  left:0;
  top:58px;
  z-index: 42;

  height: 406px;
  background-color: #ffffff;

  @include col();
  @include span(30, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();

  @include box-shadow-args(0 3px 3px 0 rgba(0, 0, 0, 0.05));

  .nav_left {
    width: 254px;
    height: 100%;
    background-color: #fff7f2;

    >ul {
      list-style: none;
      padding: 0;
      position: relative;

      >li {
        @include box-shadow-args(inset 0 -1px 0 0 #fce6d8);

        >a {
          text-align: left;
          color: #434b54;
          width: 100%;
          height: 100%;
          display: block;
          position: relative;

          >span {
            margin-left: 16px;
          }
          .icon-ico-navi-right {
            position: absolute;
            right: 16px;
            top: 21px;
          }
        }

        &:hover {
          background-color: #ffffff;
          box-shadow: inset 0 -1px 0 0 #fce6d8;

          a {
            span {
              color: #ff9f69;
            }
          }

          .nav_list_lv2 {
            display: block;
          }
        }
      }
    }
  }

  .nav_list_lv2 {
    position: absolute;
    display: none;
    top: 0;
    left: 254px;
    width: 926px;
    height: 406px;

    .nav_col {
      width: 231.5px;
      text-align: left;
      float: left;

      h5 {
        margin: 27px 0 16px 30px;
      }

      >ul {
        list-style: none;
        padding: 0;
        padding-left: 30px;
        text-align: left;

        >li {
          height:24px;
          line-height: 1.71;


          >a {
            font-size: 14px;
            color: #434b54;
            font-weight: 100;


            &:hover {
              color: #f46b49;
            }
          }

          &:last-child {
            margin-top: 5px;

            >a {
              font-size: 14px;
              font-weight: 300;
              line-height: 1.71;
              color: #bbbdbf;
              border-bottom: 1px solid #bbbdbf;
            }
          }
        }
      }
    }
  }

}

.search_typeahead {
  width: calc(100% - 20px);
  height: 600px;
  position: absolute;
  top:45px;
  background-color: white;
  z-index: 99;
  border-top: 1px solid rgba(0, 0, 0, 0.08);

  @include box-shadow-args(0 16px 9px 0 rgba(0, 0, 0, 0.1));

  .search_list {
    height: 340px;
    background-color: white;
    margin: 20px 20px 0 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
        margin-bottom: 20px;

      }
    }

    .search-list-product-desc {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 10px;
      }

      .search-list-price-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: flex-end;

        .price {
          display: flex;
          flex-direction: row;

          .discount-pop {
            margin: 0 5px;
          }
        }
      }
    }

    .search-list-product-name {
      font-size: 14px;
      color: #434b54;
    }

    .search-list-product-price {
      >span:first-child {
        font-size: 16px;
        color: #f57353;
      }
      
      >span:last-child {
        font-size: 12px;
        color: #7a7f85;
      }
    }
    
    .search-list-product-icons {
      span {
        color: #f57353;
        margin-left: 16px;
      }
    }
  }

  .search-categories-suggest {
    height: 140px;
    background-color: #fafafc;
    padding-top: 15px;

    span.title {
      font-size: 12px;
      font-weight: 600;
      color: #aab5c1;
      margin-left: 20px;
    }

    ul {
      list-style: none;
      padding: 6px 20px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;

      li {
        margin-bottom: 10px;
        a {
          font-size: 14px;
          color: #434b54;

          &:hover {
          }
        }
      }
    }
  }

  .search-categories-brands {
    height: 85px;
    background-color: #fafafc;
    padding-top: 15px;
    @include box-shadow-args(0 -1px 0 0 #dde3e8);

    span.title {
      font-size: 12px;
      font-weight: 600;
      color: #aab5c1;
      margin-left: 20px;
    }

    ul {
      list-style: none;
      padding: 6px 20px 0 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0;

      li {
        margin-bottom: 10px;
        margin-right: 30px;
        a {
          font-size: 14px;
          color: #434b54;

          &:hover {
          }
        }
      }
    }
  }
}

.hg-inner-page {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0;
}

.header-push {
  height: 115px;
  width: 100%;
  display: block;
  position: relative;
}