
.header {
  background-color: #fff;
  height: 66px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.06);

  $header_element_height: 46px;

  .row {
    padding: 10px 0;

    >div:first-child {
      @include alpha();
    }

    >div:last-child {
      @include beta();
    }
  }

    .logo_container {
    @include col;
    @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);

    a{
      max-height: $header_element_height;
    }
  }

  .search_input_container {
    @include col;
    @include span(12, $gutter_pc, $gutter_px, 0 20px 0 0, $max_columns);
    position: relative;

    img.search-icon {
      position: absolute;
      right: 30px;
      top: 10px;
      box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.08);
      padding: 0 12px;
    }
  }

  .logo {
    max-height: $header_element_height;
  }

  .search_input {
    height: $header_element_height;
    padding-left: 14px;
    border: 0;
    width: calc(100% - 15px);
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);

    @include placeholder-color(rgba(0, 0, 0, 0.21));

    outline: 0;
  }

  .auth_button_container{
    @include col;
    @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include push(4);

    a {
      height: $header_element_height;
      width: 100%;
      border: 0;
      text-align: left;
      color: #ffffff;
      background-color: #ff9f69;
      box-shadow: 0 3px 3px 0 rgba(255, 159, 105, 0.25);
      display: flex;
      flex-direction: row;
      align-items: center;


      .auth_button_text {
        text-align: left;
        display: inline-block;
        margin-left: 11px;

        span {
          display: block;
          font-size: 14px;

        }
        span:first-child {
          font-weight: bold;
        }
        span:last-child {

        }
      }
    }
  }

  .basket_button_container {
    @include col;
    @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
    margin-left: 0;

    a {
      height: $header_element_height;
      width: 100%;
      text-align: left;
      color: #f98e4e;
      font-size: 14px;

      background-color: #ffffff;
      box-shadow: 0 3px 3px 0 rgba(154, 154, 154, 0.25);
      //border: solid 1px #fff8f3;

      display: flex;
      flex-direction: row;
      align-items: center;

      .basket_button_text {
        margin-left: 11px;
      }
    }
  }

  .user-details {

  }

  &.logged-in {
    .search_input_container,
    .basket_button_container,
    .auth_button_container {
      display: none;
    }

    .user-details {
      display: block;
    }
  }
}

.header_nav_slider {

}

.nav_container {
  &.inner-page {
    background-color: #f1f0f0;
    margin-top: -1px;
    @include box-shadow-args(0 6px 8px 0 rgba(0, 0, 0, 0.04));

    .nav_list_lv1 {
      top: 50px;
    }

    .nav_row {
      margin-top: 0;
    }
    nav {
      margin: 0;
    }

    .nav_list {
      li {
        height: 50px;
        line-height: 50px;
      }
    }
  }
}

.nav_row {
  margin-top: 20px;

  nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08);

  li:nth-child(2) {
    .nav_list_lv1 {
      margin-left: -254px;
      height: 280px;
    }
  }

  li:nth-child(3) {
    .nav_list_lv1 {
      margin-left: -485.5px;
      height: 280px;

    }
  }

  li:nth-child(4) {
    .nav_list_lv1 {
      margin-left: -716.5px;
      height: 280px;

    }
  }

  li:nth-child(5) {
    .nav_list_lv1 {
      margin-left: -948px;
      height: 280px;

    }
  }

  > li {
    height: 58px;
    line-height: 58px;
    min-width: 231.5px;
    color: #8c9196;
    background-color: #f1f0f0;
    box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.05), inset 0 -1px 0 0 #ededed;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    flex-grow: 1;
    position: relative;
    cursor: pointer;

    img.nav-icon {
      position: absolute;
      top: 23px;
      right: 20px;
      @include css_transition(.3s all);

    }

    img.nav-all-cat-icon {
      position: absolute;
      top: 18px;
      left: 14px;
    }

    &:hover {
      .nav_list_lv1 {
        display: block;
      }

      img.nav-icon {
        @include transform(rotate(-180deg));
      }
    }

    &:first-child {
      min-width: 254px;
      max-width: 254px;
      color: #ffffff;
      background-color: #ff9f69;
      box-shadow: 0 3px 3px 0 rgba(255, 159, 105, 0.25);

      &:hover {
        background-color: #f58553;
      }
    }
  }
}

.nav_list_lv1 {
  position: absolute;
  display: none;
  left:0;
  top:58px;
  z-index: 42;

  height: 406px;
  background-color: #ffffff;

  @include col();
  @include span(30, $gutter_pc, $gutter_px, $padding, $max_columns);
  @include beta();

  @include box-shadow-args(0 3px 3px 0 rgba(0, 0, 0, 0.05));

  .nav_left {
    width: 254px;
    height: 100%;
    background-color: #fff7f2;

    >ul {
      list-style: none;
      padding: 0;
      position: relative;

      >li {
        @include box-shadow-args(inset 0 -1px 0 0 #fce6d8);

        >a {
          text-align: left;
          color: #434b54;
          width: 100%;
          height: 100%;
          display: block;

          >span {
            margin-left: 16px;
          }
        }

        &:hover {
          background-color: #ffffff;
          box-shadow: inset 0 -1px 0 0 #fce6d8;

          a {
            span {
              color: #ff9f69;
            }
          }

          .nav_list_lv2 {
            display: block;
          }
        }
      }
    }
  }

  .nav_list_lv2 {
    position: absolute;
    display: none;
    top: 0;
    left: 254px;
    width: 926px;
    height: 406px;

    .nav_col {
      width: 231.5px;
      text-align: left;
      float: left;

      h5 {
        margin: 27px 0 16px 30px;
      }

      >ul {
        list-style: none;
        padding: 0;
        padding-left: 30px;
        text-align: left;

        >li {
          height:24px;
          line-height: 1.71;


          >a {
            font-size: 14px;
            color: #434b54;
            font-weight: 100;


            &:hover {
              color: #f46b49;
            }
          }

          &:last-child {
            margin-top: 5px;

            >a {
              font-size: 14px;
              font-weight: 300;
              line-height: 1.71;
              color: #bbbdbf;
              border-bottom: 1px solid #bbbdbf;
            }
          }
        }
      }
    }
  }

}

.search_typeahead {
  width: calc(100% - 20px);
  height: 600px;
  position: absolute;
  top:45px;
  background-color: white;
  z-index: 99;

  @include box-shadow-args(inset 0 1px 0 0 rgba(0, 0, 0, 0.08));

  .search_list {
    height: 340px;
    background-color: white;
    margin: 20px;

    ul {
      list-style: none;
      padding: 0;
    }
  }
}