.title-bar {
  width: 90px;
  height: 4px;
  //border: solid 4px #f57353;
  background-color: #f57353;
}

.featured_categories_container {
  .featured_category {
    @include col();
    @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
    position: relative;

    @include box-shadow-args(0 2px 9px 0 rgba(0, 0, 0, 0.06));

    cursor: pointer;

    @include css_transition(all .3s);

    a {
      @include clearfix();
    }

    &:hover {
      @include transform(scale(1.045));
      @include box-shadow-args(0 8px 38px 0 rgba(0, 0, 0, 0.35));
    }

    .featured_category_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-image: linear-gradient(to bottom, rgba(42, 48, 54, 0.0), #434b54);

      h4 {
        margin: 16px;
        color: #ffffff;
      }
    }

    &:last-child {
      @include beta();
    }
  }
}

.firsat-list {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    margin-bottom: 20px;
    cursor: pointer;
  }
}