html {
  overflow-x: hidden;
  font-family: "Acumin Pro", sans-serif;
}

html,body {
  background-color: #f8f9fc;

  -webkit-font-smoothing:antialiased; /* Removes buzz during css transition ! */
  -webkit-backface-visibility:hidden; /* Removes buzz during css transition ! */
  -moz-osx-font-smoothing: grayscale;
}

body.white {
  background-color: white;
}

img {
  @include img-responsive(block);
}

a,
a:focus,
a:hover{
  outline: 0;
  text-decoration: none;
  color: inherit;
}

.slider_container {
  background-color: #f8f9fc;
  overflow-x: hidden;
}

.nav_container {
  background-color: #f8f9fc;

}

.product_container {
  background-color: #ffffff;
  padding: 45px 0 80px 0;

  h3 {
    margin: 10px 0 27px 0;
  }
}

.copyright {
  background-color: white;
}

.product-copyright {
  margin-bottom: 147px;
}

.featured_categories_container {
  padding: 45px 0 51px 0;
  background-color: #f8f9fc;

  h3 {
    margin: 10px 0 27px 0;
  }
}

.container-fluid {
  min-width: 1200px;
}

.container {
  width: 1180px;
}

.row {
  margin: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.fourofour-content {

  margin-top: 127px;
  height: 400px;
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(218, 218, 218, 0.25);

  .fourofour-left {
    @include col();
    @include span(15, $gutter_pc, $gutter_px, $padding, $max_columns);

    .fourofour-img {
      margin: -80px 80px 40px 60px;
    }

  }

  .fourofour-right {
    @include col();
    @include span(15, $gutter_pc, $gutter_px, $padding, $max_columns);
    @include beta();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 214px;
      font-weight: 900;
      line-height: 0.89;
      color: #f57353;
      text-shadow: 0 8px 28px rgba(245, 115, 83, 0.2);
      margin:0;
      margin-top: 40px;
    }

    p {
      font-size: 21px;
      font-weight: 600;
      line-height: 0.76;
      color: #434b54;
    }

    a {
      width: 224px;
      height: 48px;
      background-color: #ff9f69;
      box-shadow: 0 3px 3px 0 rgba(255, 159, 105, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      
      >span {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.header-group {
  padding: 0;
}

.icon-ico-fast-cargo {
  font-size: 20px;
}

.icon-ico-free-shipping {
  font-size: 24px;
}

.hata {
  position: relative;
}