html {
  overflow-x: hidden;

  font-family: "Acumin Pro", sans-serif;
}

html,body {
  background-color: #f8f9fc;
}

img {
  @include img-responsive(block);
}

a,
a:focus,
a:hover{
  outline: 0;
  text-decoration: none;
}

.slider_container {
  background-color: #f8f9fc;
}

.nav_container {
  background-color: #f8f9fc;

}

.product_container {
  background-color: #ffffff;
  padding: 45px 0 24px 0;

  h3 {
    margin: 10px 0 27px 0;
  }
}

.featured_categories_container {
  padding: 45px 0 51px 0;
  background-color: #f8f9fc;

  h3 {
    margin: 10px 0 27px 0;
  }
}

.container-fluid {
  min-width: 1200px;
}

.container {
  width: 1180px;
}

.row {
  margin: 0;
}