.modal-backdrop {
  background-color: black;
}

.modal-backdrop.in {
  opacity: 0.75;
}


.modal-dialog {
  margin: 132px auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  @include box-shadow-args( 0 6px 8px 0 rgba(0, 0, 0, 0.04));

  padding: 17px 40px 30px 40px;

  a.orange {
    padding: 0 40px;
    height: 48px;
    background-color: #ff9f69;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include box-shadow-args( 0 3px 3px 0 rgba(255, 159, 105, 0.25));
    margin-top: 25px;
  }

  a.white {
    padding: 0 40px;
    height: 48px;
    background-color: #ffffff;
    color: #f98e4e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include box-shadow-args( 0 3px 3px 0 rgba(154, 154, 154, 0.32));
    border: solid 1px #fff8f3;

    margin-top: 25px;
  }

  a.plain {
    padding: 0 40px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(206, 211, 219, 0.31);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #434b54;
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    color: #434b54;
    margin-top: 8px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #8c9196;

    margin-top: 15px;
    margin-bottom: 0;
  }
}

#sepetModal {

}

#categoryRequestModal {
  .modal-dialog {
    width: 541px;
  }

  h5 {
    font-weight: 400;
  }

  p {
    max-width: 380px;
  }

  div.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-right: -30px;
    margin-bottom: -10px;

    a {
      margin-left: 20px;
    }
  }
}

#categoryRequestCompletedModal {
  .modal-dialog {
    width: 420px;

  }
}



#loadingModal {
  .modal-dialog {
    width: 200px;
    margin: 400px auto;
    
    .fa-spinner {
      color: #f98e4e;
    }
  }
}