.account-subeler {
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a.subelerEkleButon {
      width: 180px;
      height: 48px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      @include box-shadow-args(0 3px 3px 0 rgba(154, 154, 154, 0.32));
      border: solid 1px #fff8f3;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #f98e4e;
    }

    .arama-davet {
      display: inline-flex;
      flex-direction: row;
      align-items: center;

      .sube-kullanici-arama {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 4px;

        input {
          width: 240px;
          padding-left: 20px;
          height: 42px;
          background-color: #fbfbfa;
          border: solid 1px #f0f3f6;
        }

        button {
          background-color: transparent;
          border: 0;
          outline: 0;
          margin-left: -40px;

          span {
            font-size: 24px;
            color: #8c9196;
          }
        }
      }

      a {
        margin-left: 20px;
      }
    }
  }

  .body {
    .kullanicilar-liste {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .bottom {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-left: 1px solid #eceded;
  }

  .kullanicilar-liste-head {
    .account-table4,
    .account-table3 {
      @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));

      >div {
        height: 50px;
        background-color: #fcfcfc;
        @include box-shadow-args(inset 1px 0 0 0 rgba(0, 0, 0, 0.04));
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.21;
        color: #82858a;

        .active {
          background-color: white;
          border: solid 1px #f0f3f6;

        }

        a {
          padding-left: 20px;
          height: 100%;
          width: 100%;
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }

  .kullanicilar-liste-bekleyen {
    list-style: none;
    padding: 0;
    margin: 20px 0;

    li {
      margin-bottom: 10px;

      .account-table4,
      .account-table3{
        box-shadow: inset 0 -1px 0 0 #f3f4f6, inset 0 1px 0 0 #f3f4f6;
        border: solid 1px #ff9f69;

        >div {
          height: 101px;
          background-color: #ffefe6;
          display: inline-flex;
          align-items: center;
          justify-content: flex-start;

          >span, >a {
            margin-left: 20px;
            font-size: 16px;
            line-height: 1.38;
            color: #6f5c53;
          }

          a {
            border-bottom: 1px solid #8c9196;
            font-weight: 500;
            color: #6f5c53;
          }
        }

        >div.col4 {
          justify-content: center;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .kullanicilar-liste {
    list-style: none;
    padding: 0;
    margin: 20px 0;

    li {
      margin-bottom: 0;
      cursor: pointer;
      position: relative;

      .text-edit {
        position: absolute;
        right: -15px;
        top: 34px;
        display: none;
      }


      &:nth-of-type(odd) {
        @include box-shadow-args(inset 0 -1px 0 0 #f3f4f6, inset 0 1px 0 0 #f3f4f6);
      }

      &:nth-of-type(even) {
        background-color: #fcfcfd;
      }

      &:hover {
        @include box-shadow-args(0 3px 3px 0 rgba(218, 218, 218, 0.25));
        z-index: 12;

        .text-edit {
          display: block;
        }
      }

      .account-table4,
      .account-table3{
        >div {
          height: 101px;
          display: inline-flex;
          align-items: center;
          justify-content: flex-start;

          >span, >a {
            margin-left: 20px;
            font-size: 16px;
            line-height: 1.38;
            color: #6f5c53;
          }

          a {
            border-bottom: 1px solid #8c9196;
            font-weight: 500;
            color: #6f5c53;
          }
        }

        >div.col4 {
          justify-content: center;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.sube-secimi {
  height: 110px;
  background-color: #fbfcfc;
  width: 100%;
  border-left: 1px solid #eceded;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .select-box {
    width: 320px;
    margin-left: 20px;

    .nice-select,
    .current{
      height: 48px;
      line-height: 48px;
    }
  }

  a {
    margin-top: 20px;
    margin-left: 20px;
    width: 160px;
    height: 48px;
    background-color: #ffffff;
    @include box-shadow-args(0 3px 3px 0 rgba(154, 154, 154, 0.32));
    border: solid 1px #fff8f3;
    font-size: 16px;
    font-weight: 500;
    color: #f98e4e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.account-table4 {
  display: flex;
  flex-direction: row;
  align-items: center;

  .col1 {
    width: 140px;
  }

  .col2 {
    width: 280px;
  }

  .col3 {
    width: 380px;
  }

  .col4 {
    width: 120px;
    text-align: center;

  }
}

.account-table3 {
  display: flex;
  flex-direction: row;
  align-items: center;

  .col1 {
    width: 280px;
  }

  .col2 {
    width: 420px;
  }

  .col3 {
    width: 220px;
    text-align: center;

  }

}


.head-with-button {
  padding-bottom: 30px;

  .back-button {
    span {
      color: #434b54;
    }
  }

  >div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      margin-right: 20px;

      border: solid 1px rgba(206, 211, 219, 0.31);
    }
  }

}

.account-subeler {

  >div, .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .faturaDetaylari,
  .teslimatDetaylari{
    padding: 0 20px;

    .head {
      padding-left: 0;
    }
  }

  .row >div,
  .body >div{
    margin-bottom: 20px;
  }



  .sirketUnvan,
  .sirketVergiNo{
    width: 300px;
    margin-right: 20px;
  }

  .sirketVergiDairesi {
    width: 280px;
  }

  .sirketAdres {
    width: 920px;
  }

  .faturaSubeAdi {
    width: 460px;
    margin-right: 100px;
  }
  .faturaSubeFaturaYetkilisi {
    width: 460px;
    margin-right: 20px;
  }
  .faturaYetkilisiEposta {
    width: 440px;
  }

  .faturaIl {
    width: 300px;
    margin-right: 20px;
  }

  .faturaIlce {
    width: 300px;
    margin-right: 20px;
  }

  .faturaPostaKodu {
    width: 280px;
  }

  .faturaAdresi {
    width: 460px;
    margin-right: 20px;

    textarea {
      height: 150px;
      resize: none;
    }
  }

  .faturaSubeTelefonNumarasi {
    width: 440px;
  }

  .separator-line {
    margin: 0 20px;
    width: 920px;
    height: 1px;
    border-bottom: solid 1px #ededed;
  }

  .faturaSubeAdi {
    width: 460px;
    margin-right: 200px;
  }

  .teslimatAlacakKisi {
    width: 440px;
    #teslimatAlacakKisi {
      margin-bottom: 20px;
    }
  }

  .bottom.yeni-sube,.fatura-duzenle {
    background-color: #fafafc;

    .vazgecButton {
      width: 130px;
      height: 48px;
      border: solid 1px rgba(206, 211, 219, 0.3);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #434b54;
      margin-left: 20px;
    }

    .ekleButton {
      width: 130px;
      height: 48px;
      background-color: #ffffff;
      @include box-shadow-args(0 3px 3px 0 rgba(154, 154, 154, 0.32));
      border: solid 1px #fff8f3;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #f98e4e;
      margin-left: 20px;
    }
  }

  .fatura-duzenle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .adresKaldir {
      font-size: 14px;
      line-height: 1.71;
      color: #8c9196;
      border-bottom: 1px solid #8c9196;
    }
  }
}

.sube-fatura-adres-list,
.sube-teslimat-adres-list {
  list-style: none;
  margin: 0 20px;
  padding: 0;


  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #dde4e8;
    padding:20px;

    >div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }


    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.12;
      color: #434b54;
      margin-bottom: 20px;
    }

    .first-row {
      font-size: 16px;
      line-height: 1.38;
      color: #343a42;
    }

    .second-row {
      font-size: 16px;
      line-height: 1.38;
      color: #8c9196;
    }

    a.edit {
      font-size: 16px;
      line-height: 1.5;
      color: #8c9196;
      border-bottom: 1px solid #8c9196;

      .icon-ico-edit {
        font-size: 18px;
      }
    }
  }
}

.sube-teslimat-adres-list {
  li {
    padding: 25px 20px;
  }
}

